# Folders
logs/
reports/
.vscode/
.idea/
*/*/__pycache__/
*/__pycache__/
docs/build/
venv/
src/tzkt/logs
src/tzkt/reports

# File extensions
.env
email.ini*
fee.ini*
*.pyc
.pytest_cache
.python-version
lock

# State diagram outputs
config_cycle_state_diagram.png
launch_state_diagram.png
