# Folders
.vscode/
.idea/
*/*/__pycache__/
*/__pycache__/
docs/build/
venv/
*/__TEMP_DATA__/

# File extensions
.env
email.ini*
fee.ini*
*.pyc
.pytest_cache
.python-version
lock
.coverage
.DS_Store

# State diagram outputs for sphinx documentation
config_cycle_state_diagram.png
launch_state_diagram.png
