language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
before_script: export PYTHONPATH=$PYTHONPATH:$(pwd)
script: python3 -m unittest -s src