# developer requirements
pytest>=7.0.1
pytest-watch>=4.2.0
parameterized>=0.8.1
Pygments>=2.11.2
graphviz>=0.19.1
click==8.0.4
black>=22.10.0
flake8>=6.0.0
recommonmark==0.7.1
sphinx_rtd_theme==1.0.0
sphinxcontrib.spelling>=7.3.2
pre-commit>=2.20.0
