interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194&cycle=100
  response:
    body:
      string: '[[45607,100,39011,16,41762.450711,120956.876490,0.000000,20,1,54,32.000000,134.78,100.00,99.20,1,1,0,53,0,54,0,124.000000,123.000000,3968.000000,16.000000,107.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873962'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99381'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/bakers/tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194/snapshot/100
  response:
    body:
      string: '{"baking_cycle":100,"snapshot_height":381696,"snapshot_cycle":93,"snapshot_time":"2019-04-04T17:22:49Z","snapshot_index":2,"snapshot_rolls":16,"active_stake":162719327201,"staking_balance":162719327201,"own_balance":41762450711,"delegated_balance":120956876490,"n_delegations":20,"expected_income":124000000,"total_income":123000000,"total_deposits":3968000000,"baking_income":16000000,"endorsing_income":107000000,"accusation_income":0,"seed_income":0,"fees_income":0,"total_loss":0,"accusation_loss":0,"seed_loss":0,"endorsing_loss":0,"lost_accusation_fees":0,"lost_accusation_rewards":0,"lost_accusation_deposits":0,"lost_seed_fees":0,"lost_seed_rewards":0,"delegators":[{"address":"KT1GSm2yYpHdVo6XHwKYsfGpoqarABYQ4v5D","balance":26572975578,"is_funded":false},{"address":"KT1Wf5tnwXUEgYYP5bQLDTuJz57eN2HoTyYS","balance":20547854951,"is_funded":true},{"address":"KT1W41RamGajHZg7aq9Vqz6fs4jpTKMnUKhX","balance":14346102343,"is_funded":false},{"address":"KT1Hw4wDC4pyRgDR9LttEE45erELztkrcJgT","balance":10926633568,"is_funded":false},{"address":"KT1T9qV7E2mgZg2BRY51wQDbGAJLBtr4wXCJ","balance":10407248485,"is_funded":true},{"address":"KT1QxYusq5wWqwjtn6smjQJX2e3m5ZvhPstj","balance":8807276874,"is_funded":false},{"address":"KT1DBxFhWRHR7VQXnkKxNoRo29c1m[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?baker=tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194&columns=row_id,spendable_balance,address&limit=50000
  response:
    body:
      string: '[[3937,317.370397,"tz1c2JnHgWDsxje34PPKstbbzSjgGeP8VKMv"]

        ,[4530,22.609952,"tz1MmMxfyyCdKoWHMVaobKY9qQNwoE4x29SE"]

        ,[5432,15.434815,"tz1Nv4FLATirNP9Asmqhcxz5ZYY68gFno4Gs"]

        ,[6032,0.559410,"tz1MYRyhV85D6oZM49CCyoLbUFWkjbFXye7c"]

        ,[7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?address.in=KT1BJu8FBib6viw6JXfLhWnrGjy2cqdkYLEn,KT1GSm2yYpHdVo6XHwKYsfGpoqarABYQ4v5D,KT1Hw4wDC4pyRgDR9LttEE45erELztkrcJgT&columns=row_id,spendable_balance,address
  response:
    body:
      string: '[[39835,0.000000,"KT1GSm2yYpHdVo6XHwKYsfGpoqarABYQ4v5D"]

        ,[54502,0.000000,"KT1Hw4wDC4pyRgDR9LttEE45erELztkrcJgT"]

        ,[54934,0.000000,"KT1BJu8FBib6viw6JXfLhWnrGjy2cqdkYLEn"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873962'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99378'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/cycle/100
  response:
    body:
      string: '{"cycle":100,"start_height":409601,"end_height":413696,"start_time":"2019-04-24T19:42:07Z","end_time":"2019-04-27T18:34:05Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":410880,"snapshot_index":4,"snapshot_time":"2019-04-25T17:56:35Z","rolls":55218,"roll_owners":461,"active_delegators":14027,"active_bakers":520,"staking_supply":553886828.972463,"staking_percent":69.77501446280553,"working_bakers":231,"working_endorsers":415,"missed_rounds":122,"missed_endorsements":1956,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":60,"solvetime_max":142,"solvetime_mean":62.30126953124987,"round_min":0,"round_max":1,"round_mean":0.029785156250000108,"endorsement_rate":98.5076904296875,"endorsements_min":27,"endorsements_max":32,"endorsements_mean":31.522460937499954,"seed_rate":99.21875,"worst_baked_block":409607,"worst_endorsed_block":409602,"snapshot_cycle":{"cycle":93,"start_height":380929,"end_height":385024,"start_time":"2019-04-04T03:54:58Z","end_time":"2019-04-07T02:57:29Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":381696,"snapshot_index":2,"snapshot_time":"2019-04-04T17:22:49Z","rolls":54270,"roll_owners":450,"active_delegators":12836,"active_bakers":501,"staking_supply":544265027.22034,"staking_percent":68.76077294942743,"working_bakers":214,"working_endorsers":415,"missed_rounds":131,"missed_endorsements":1252,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":60,"solvetime_max":210,"solvetime_mean":62.453857421875064,"round_min":0,"round_max":2,"round_mean":0.03198242187500001,"endorsement_rate":99.0447998046875,"endorsements_min":25,"endorsements_max":32,"endorsements_mean":31.694335937500018,"seed_rate":99.21875,"worst_baked_block":381307,"worst_endorsed_block":382807},"follower_cycle":{"cycle":107,"start_height":438273,"end_height":442368,"start_time":"2019-05-15T09:20:39Z","end_time":"2019-05-18T06:38:35Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":439808,"snapshot_index":5,"snapshot_time":"2019-05-16T11:11:46Z","rolls":56098,"roll_owners":462,"active_delegators":14863,"active_bakers":530,"staking_supply":562771772.057878,"staking_percent":70.69238410834413,"working_bakers":220,"working_endorsers":417,"missed_rounds":47,"missed_endorsements":1152,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":60,"solvetime_max":210,"solvetime_mean":60.921875000000014,"round_min":0,"round_max":2,"round_mean":0.011474609375000016,"endorsement_rate":99.12109375,"endorsements_min":28,"endorsements_max":32,"endorsements_mean":31.718750000000032,"seed_rate":100,"worst_baked_block":440037,"worst_endorsed_block":438281}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Sat, 18 May 2019 06:38:35 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873962'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99377'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
[...]
