interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tzxxxxxxxxx&cycle=100
  response:
    body:
      string: "{\n  \"errors\": [\n    {\n      \"code\": 1007,\n      \"status\":
        400,\n      \"message\": \"incorrect request syntax\",\n      \"scope\": \"StreamTable\",\n
        \     \"detail\": \"invalid address 'tzxxxxxxxxx'\",\n      \"request_id\":
        \"e6bd8e6c-c3ef-4288-a22b-341859da7148\"\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4685920'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99323'
      x-rate-limit-reset:
      - '1701745537'
    status:
      code: 400
      message: Bad Request
version: 1
