interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tzxxxxxxxxx&cycle=100
  response:
    body:
      string: "{\n  \"errors\": [\n    {\n      \"code\": 1007,\n      \"status\":
        400,\n      \"message\": \"incorrect request syntax\",\n      \"scope\": \"StreamTable\",\n
        \     \"detail\": \"invalid address 'tzxxxxxxxxx'\",\n      \"request_id\":
        \"ab88a504-7cd0-4d50-9b78-37384bc1bcfd\"\n    }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873962'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99375'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 400
      message: Bad Request
version: 1
