interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN/500?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":500,"bakingPower":80372642510,"totalBakingPower":685704336470565,"ownDelegatedBalance":11120270248,"externalDelegatedBalance":69252372262,"delegatorsCount":35,"ownStakedBalance":0,"externalStakedBalance":0,"stakersCount":0,"expectedBlocks":0,"expectedEndorsements":6721,"futureBlocks":0,"futureBlockRewards":0,"blocks":0,"blockRewardsDelegated":0,"blockRewardsStakedOwn":0,"blockRewardsStakedEdge":0,"blockRewardsStakedShared":0,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":6680,"endorsementRewardsDelegated":19201897,"endorsementRewardsStakedOwn":0,"endorsementRewardsStakedEdge":0,"endorsementRewardsStakedShared":0,"missedEndorsements":22,"missedEndorsementRewards":0,"blockFees":0,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLostStaked":0,"doubleBakingLostUnstaked":0,"doubleBakingLostExternalStaked":0,"doubleBakingLostExternalUnstaked":0,"doubleEndorsingRewards":0,"doubleEndorsingLostStaked":0,"doubleEndorsingLostUnstaked":0,"doubleEndorsingLostExternalStaked":0,"doubleEndorsingLostExternalUnstaked":0,"doublePreendorsingRewards":0,"doublePreendorsingLostStaked":0,"doublePreendorsingLostUnstaked":0,"doublePreendorsingLostExternalStaked":0,"doublePreendorsingLostExternalUnstaked":0,"vdfRevelationRewardsDelegated":0,"vdfRevelationRewardsStakedOwn":0,"vdfRevelationRewardsStakedEdge":0,"vdfRevelationRewardsStakedShared":0,"nonceRevelationRewardsDelegated":0,"nonceRevelationRewardsStakedOwn":0,"nonceRevelationRewardsStakedEdge":0,"nonceRevelationRewardsStakedShared":0,"nonceRevelationLosses":0,"delegators":[{"address":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","delegatedBalance":56390809118,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":56390809118,"currentBalance":514},{"address":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","delegatedBalance":6359594075,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":6359594075,"currentBalance":514},{"address":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE","delegatedBalance":3639873553,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":3639873553,"currentBalance":514},{"address":"tz1NCT7LwjVXQCkCu4VjMVdHcSGFj6UhJtrt","delegatedBalance[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":751,"level":5941107,"hash":"BL16PZHk997eycg85JPT18tEP9eargaGBp8yHLfUCHwYd8bsc52","protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","nextProtocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","timestamp":"2024-06-30T14:02:10Z","votingEpoch":61,"votingPeriod":125,"knownLevel":5941107,"lastSync":"2024-06-30T14:02:10Z","synced":true,"quoteLevel":5941107,"quoteBtc":1.2637476954728389E-05,"quoteEur":0.7257610644134921,"quoteUsd":0.7776889081912373,"quoteCny":5.651698602498177,"quoteJpy":125.11847999434717,"quoteKrw":1074.2061351063917,"quoteEth":0.0002295770521393264,"quoteGbp":0.61465265010021}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '5941107'
      Tzkt-Level:
      - '5941107'
      Tzkt-Synced-At:
      - '2024-06-30T14:02:10Z'
      Tzkt-Version:
      - 1.14.3.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head/context/contracts/tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ/counter
  response:
    body:
      string: '"7117400"

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head~10
  response:
    body:
      string: '{"protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","chain_id":"NetXdQprcVkpaWU","hash":"BM3FBuDpWfyguKUgMj3DVTd7LUsz5qm3FhgPBJzfbmESXFyBreW","header":{"level":5941097,"proto":20,"predecessor":"BL8jZs6tZdDRUDMFwaBCVcufFteRYyB4YnSPCQwT6XdLm4PD2Ks","timestamp":"2024-06-30T14:00:15Z","validation_pass":4,"operations_hash":"LLoZfMq8j7FSbNXxVj2mDFzvmuY5Bi6BDtninSwadiTxrUkaArC5f","fitness":["02","005aa769","","ffffffff","00000000"],"context":"CoUu8d1gyGU5usrFkgTwLXQxxQ8MD8WSRoPooZHCsv8pegvmrDt3","payload_hash":"vh3EnCHWMi4PNgtrh6aviqnGpfEucCoSpL2Br3JNRYboqipgPvFz","payload_round":0,"proof_of_work_nonce":"1a991a03dd470000","liquidity_baking_toggle_vote":"pass","adaptive_issuance_vote":"pass","signature":"sigU3t1KQiGmeqSRi4VUwPKZeHijcqs7cfkkJpXvZ2bqk5skvbB1WPT9gYy8AFZomu9VgMDuHc6zAAj1sv2xdvTohqx4EUbH"},"metadata":{"protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","next_protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","test_chain_status":{"status":"not_running"},"max_operations_ttl":360,"max_operation_data_length":32768,"max_block_header_length":289,"max_operation_list_length":[{"max_size":4194304,"max_op":2048},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"proposer":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb","baker":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb","level_info":{"level":5941097,"level_position":5941096,"cycle":751,"cycle_position":18280,"expected_commitment":false},"voting_period_info":{"voting_period":{"index":125,"kind":"proposal","start_position":5849088},"position":92008,"remaining":30871},"nonce_hash":null,"deactivated":[],"balance_updates":[{"kind":"accumulator","category":"block
        fees","change":"-1686","origin":"block"},{"kind":"contract","contract":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb","change":"1686","origin":"block"},{"kind":"minted","category":"baking
        rewards","change":"-798293","origin":"block"},{"kind":"freezer","category":"deposits","staker":{"baker_own_stake":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb"},"change":"798293","origin":"block"},{"kind":"minted","category":"baking
        rewards","change":"-3592314","origin":"block"},{"kind":"contract","contract":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb","change":"3592314","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-738670","origin":"block"},{"kind":"freezer","category":"deposits","staker":{"baker_own_stake":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb"},"change":"738670","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-3324010","origin":"block"},{"kind":"contract","contract":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb","change":"3324010","origin":"block"}],"liquidity_baking_toggle_ema":402595874,"adaptive_issuance_vote_ema":25522299,"adaptive_issuance_activation_cycle":748,"implicit_operations_results":[{"kind":"transaction","storage":[{"int":"15112792346"},{"int":"11999913529648"},{"int":"233784690"},{"bytes":"01a3d0f58d8964bd1b37fb0a0c197b38cf46608d4900"},{"bytes":"0115eb0104481a6d7921160bc982c5e0a561cd8a3a00"}],"balance_updates":[{"kind":"minted","category":"subsidy","change":"-833333","origin":"subsidy"},{"kind":"contract","contract":"KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5","change":"833333","origin":"subsidy"}],"consumed_milligas":"206964","storage_size":"4640"}],"proposer_consensus_key":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb","baker_consensus_key":"tz1P2Po7YM526ughEsRbY4oR9zaUPDZjxFrb","consumed_milligas":"327000","dal_attestation":"0"},"operations":[[{"protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","chain_id":"NetXdQprcVkpaWU","hash":"oom5MhcGB2v43xtJd3y3GdNupahoqtqEk51TEEacc2REbtZnbvz","branch":"BMcqBTBFiwUbUPU6abYLDh15JUFgNvTsYuH8YruajLyjvPeJQLy","contents":[{"kind":"attestation","slot":0,"level":5941096,"round":0,"block_payload_hash":"vh24mA6AxBdiz8hg4uj2bzwxRf9pBReLphZ8x8hwoEZ4bachAYR1","metadata":{"delegate":"tz1irJKkXS2DBWkU1NnmFQx1c1L7pbGg4yhk","consensus_power":1112,"consensus_key":"tz1irJKkXS2DBWkU1NnmFQx1c1L7pbGg4yhk"}}],"signature":"signwPxcc3JQ4iWs8RB3DqL1BrG8zU2yvEZvB5tJkjJQjJazyTxLKU8jG28DZdexakhnjXVvxxf7LurNEDw2jTtExUYR7H83"},{"protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","chain_id":"NetXdQprcVkpaWU","hash":"onozVCGrnTeUDwW5M5C8DUG9qbuPTHjXmHtNB7ENGu7ydduxcak","branch":"BMcqBTBFiwUbUPU6abYLDh15JUFgNvTsYuH8YruajLyjvPeJQLy","contents":[{"kind":"attestation","slot":1,"level":5941096,"round":0,"block_payload_hash":"vh24mA6AxBdiz8hg4uj2bzwxRf9pBReLphZ8[...]
- request:
    body: '{"operation": {"branch": "BM3FBuDpWfyguKUgMj3DVTd7LUsz5qm3FhgPBJzfbmESXFyBreW","contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","fee":"298","counter":"7117401","gas_limit":"1400","storage_limit":"0","amount":"1291324"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE","fee":"298","counter":"7117402","gas_limit":"1400","storage_limit":"0","amount":"738953"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1NCT7LwjVXQCkCu4VjMVdHcSGFj6UhJtrt","fee":"298","counter":"7117403","gas_limit":"1400","storage_limit":"0","amount":"330077"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgC[...]
- request:
    body: '{"branch": "BM3FBuDpWfyguKUgMj3DVTd7LUsz5qm3FhgPBJzfbmESXFyBreW","contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","fee":"298","counter":"7117401","gas_limit":"1400","storage_limit":"0","amount":"1291324"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE","fee":"298","counter":"7117402","gas_limit":"1400","storage_limi[...]
- request:
    body: '[{"protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","branch":"BM3FBuDpWfyguKUgMj3DVTd7LUsz5qm3FhgPBJzfbmESXFyBreW","contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","fee":"298","counter":"7117401","gas_limit":"1400","storage_limit":"0","amount":"1291324"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE"[...]
[...]
- request:
    body: '{"operation": {"branch": "BKkgLXYjM3DhdgzUuk2y6wQibYNmTDBZuj8Raa9PYEFvgrBeUhd","contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","fee":"2980","counter":"7117401","gas_limit":"1040000","storage_limit":"60000","amount":"11452867"}],
      "signature":"edsigtXomBKi5CTRf5cjATJWSyaRvhfYNHqSUGrn4SdbYRcGwQrUGjzEfQDTuqHhuA8b2d8NarZjz8TRf65WkpQmo423BtomS8Q"},"chain_id":"NetXdQprcVkpaWU"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://mainnet.smartpy.io/chains/main/blocks/head/helpers/scripts/run_operation
  response:
    body:
      string: '{"contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","fee":"2980","counter":"7117401","gas_limit":"1040000","storage_limit":"60000","amount":"11452867","destination":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","metadata":{"balance_updates":[{"kind":"contract","contract":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","change":"-2980","origin":"block"},{"kind":"accumulator","category":"block
        fees","change":"2980","origin":"block"}],"operation_result":{"status":"applied","storage":{"bytes":"00aa5e83f4ecce0089e27b8886c431ce1e850e7c79"},"balance_updates":[{"kind":"contract","contract":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","change":"-11452867","origin":"block"},{"kind":"contract","contract":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","change":"11452867","origin":"block"}],"consumed_milligas":"1308020","storage_size":"232"}}}],"signature":"edsigtXomBKi5CTRf5cjATJWSyaRvhfYNHqSUGrn4SdbYRcGwQrUGjzEfQDTuqHhuA8b2d8NarZjz8TRf65WkpQmo423BtomS8Q"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
