interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1NortRftucvAkD1J58L32EhSVrQEWJCEnB/201?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":201,"bakingPower":5408000000000,"totalBakingPower":635816000000000,"ownDelegatedBalance":601145903878,"externalDelegatedBalance":4809160299318,"delegatorsCount":736,"ownStakedBalance":0,"externalStakedBalance":0,"stakersCount":0,"expectedBlocks":34.84,"expectedEndorsements":1114.85,"futureBlocks":0,"futureBlockRewards":0,"blocks":43,"blockRewardsDelegated":665600000,"blockRewardsStakedOwn":0,"blockRewardsStakedEdge":0,"blockRewardsStakedShared":0,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":1122,"endorsementRewardsDelegated":2217666664,"endorsementRewardsStakedOwn":0,"endorsementRewardsStakedEdge":0,"endorsementRewardsStakedShared":0,"missedEndorsements":0,"missedEndorsementRewards":0,"blockFees":628730,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLostStaked":0,"doubleBakingLostUnstaked":0,"doubleBakingLostExternalStaked":0,"doubleBakingLostExternalUnstaked":0,"doubleEndorsingRewards":0,"doubleEndorsingLostStaked":0,"doubleEndorsingLostUnstaked":0,"doubleEndorsingLostExternalStaked":0,"doubleEndorsingLostExternalUnstaked":0,"doublePreendorsingRewards":0,"doublePreendorsingLostStaked":0,"doublePreendorsingLostUnstaked":0,"doublePreendorsingLostExternalStaked":0,"doublePreendorsingLostExternalUnstaked":0,"vdfRevelationRewardsDelegated":0,"vdfRevelationRewardsStakedOwn":0,"vdfRevelationRewardsStakedEdge":0,"vdfRevelationRewardsStakedShared":0,"nonceRevelationRewardsDelegated":0,"nonceRevelationRewardsStakedOwn":0,"nonceRevelationRewardsStakedEdge":0,"nonceRevelationRewardsStakedShared":0,"nonceRevelationLosses":0,"delegators":[{"address":"KT1927ipVbxi5S6rnSMCHqobNM4ox2uZ9s3g","delegatedBalance":509035094950,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":509035094950,"currentBalance":514},{"address":"tz1eEwBzGHw4PeKeQdESpuf1JSgNBxzPaCrm","delegatedBalance":425269622887,"stakedBalance":0,"emptied":true,"currentDelegatedBalance":0,"currentStakedBalance":0,"balance":425269622887,"currentBalance":0},{"address":"KT1GZGdspwCecUGR5uPQbpcFgUVhAzizEdNw","delegatedBalance":395946072784,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":395946072784,"currentBalance":514},{"address":"KT1J6C2b3Gexsv7Z5GCgKQNfiGzfVX3Eoc97","delegatedBalanc[...]
