interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1NortRftucvAkD1J58L32EhSVrQEWJCEnB/201?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":201,"stakingBalance":5410306203196,"activeStake":5408000000000,"selectedStake":635816000000000,"delegatedBalance":4809160299318,"numDelegators":736,"expectedBlocks":34.84,"expectedEndorsements":1114.85,"futureBlocks":0,"futureBlockRewards":0,"blocks":43,"blockRewards":665600000,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":1122,"endorsementRewards":2217666664,"missedEndorsements":0,"missedEndorsementRewards":0,"blockFees":628730,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"KT1927ipVbxi5S6rnSMCHqobNM4ox2uZ9s3g","balance":509035094950,"currentBalance":3207208697,"emptied":false},{"address":"tz1eEwBzGHw4PeKeQdESpuf1JSgNBxzPaCrm","balance":425269622887,"currentBalance":0,"emptied":true},{"address":"KT1GZGdspwCecUGR5uPQbpcFgUVhAzizEdNw","balance":395946072784,"currentBalance":1152241,"emptied":false},{"address":"KT1J6C2b3Gexsv7Z5GCgKQNfiGzfVX3Eoc97","balance":167057802140,"currentBalance":0,"emptied":false},{"address":"KT1NTnDYPWUFQzA5QyjnukJVqYbh3NhsAzEd","balance":137234470100,"currentBalance":1,"emptied":false},{"address":"tz1UNCg82fup1hSDo2BgCTpsMzFRT1PwqZka","b[...]
