interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":751,"level":5941107,"hash":"BL16PZHk997eycg85JPT18tEP9eargaGBp8yHLfUCHwYd8bsc52","protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","nextProtocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","timestamp":"2024-06-30T14:02:10Z","votingEpoch":61,"votingPeriod":125,"knownLevel":5941107,"lastSync":"2024-06-30T14:02:10Z","synced":true,"quoteLevel":5941107,"quoteBtc":1.2637476954728389E-05,"quoteEur":0.7257610644134921,"quoteUsd":0.7776889081912373,"quoteCny":5.651698602498177,"quoteJpy":125.11847999434717,"quoteKrw":1074.2061351063917,"quoteEth":0.0002295770521393264,"quoteGbp":0.61465265010021}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '5941107'
      Tzkt-Level:
      - '5941107'
      Tzkt-Synced-At:
      - '2024-06-30T14:02:10Z'
      Tzkt-Version:
      - 1.14.3.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head/context/constants
  response:
    body:
      string: '{"proof_of_work_nonce_size":8,"nonce_length":32,"max_anon_ops_per_block":132,"max_operation_data_length":32768,"max_proposals_per_delegate":20,"max_micheline_node_count":50000,"max_micheline_bytes_limit":50000,"max_allowed_global_constants_depth":10000,"cache_layout_size":3,"michelson_maximum_type_size":2001,"max_slashing_period":2,"smart_rollup_max_wrapped_proof_binary_size":30000,"smart_rollup_message_size_limit":4096,"smart_rollup_max_number_of_messages_per_level":"1000000","consensus_rights_delay":2,"blocks_preservation_cycles":1,"delegate_parameters_activation_delay":5,"blocks_per_cycle":24576,"blocks_per_commitment":192,"nonce_revelation_threshold":768,"cycles_per_voting_period":5,"hard_gas_limit_per_operation":"1040000","hard_gas_limit_per_block":"1733333","proof_of_work_threshold":"281474976710655","minimal_stake":"6000000000","minimal_frozen_stake":"600000000","vdf_difficulty":"8000000000","origination_size":257,"issuance_weights":{"base_total_issued_per_minute":"80007812","baking_reward_fixed_portion_weight":5120,"baking_reward_bonus_weight":5120,"attesting_reward_weight":10240,"seed_nonce_revelation_tip_weight":1,"vdf_revelation_tip_weight":1},"cost_per_byte":"250","hard_storage_limit_per_operation":"60000","quorum_min":2000,"quorum_max":7000,"min_proposal_quorum":500,"liquidity_baking_subsidy":"5000000","liquidity_baking_toggle_ema_threshold":1000000000,"max_operations_time_to_live":360,"minimal_block_delay":"10","delay_increment_per_round":"5","consensus_committee_size":7000,"consensus_threshold":4667,"minimal_participation_ratio":{"numerator":2,"denominator":3},"limit_of_delegation_over_baking":9,"percentage_of_frozen_deposits_slashed_per_double_baking":500,"percentage_of_frozen_deposits_slashed_per_double_attestation":5000,"max_slashing_per_block":10000,"max_slashing_threshold":2334,"cache_script_size":100000000,"cache_stake_distribution_cycles":8,"cache_sampler_state_cycles":8,"dal_parametric":{"feature_enable":true,"incentives_enable":false,"number_of_slots":32,"attestation_lag":8,"attestation_threshold":66,"redundancy_factor":8,"page_size":3967,"slot_size":126944,"number_of_shards":512},"smart_rollup_arith_pvm_enable":false,"smart_rollup_origination_size":6314,"smart_rollup_challenge_window_in_blocks":120960,"smart_rollup_stake_amount":"10000000000","smart_rollup_commitment_period_in_blocks":90,"smart_rollup_max_lookahead_in_blocks":259200,"smart_rollup_max_active_outbox_levels":120960,"smart_rollup_max_outbox_messages_per_level":100,"smart_rollup_number_of_sections_in_dissection":32,"smart_rollup_timeout_period_in_blocks":60480,"smart_rollup_max_number_of_cemented_commitments":5,"smart_rollup_max_number_of_parallel_games":32,"smart_rollup_reveal_activation_level":{"raw_data":{"Blake2B":0},"metadata":0,"dal_page":5726209,"dal_parameters":5726209,"dal_attested_slots_validity_lag":241920},"smart_rollup_private_enable":true,"smart_rollup_riscv_pvm_enable":false,"zk_rollup_enable":false,"zk_rollup_origination_size":4000,"zk_rollup_min_pending_to_process":10,"zk_rollup_max_ticket_payload_size":2048,"global_limit_of_staking_over_baking":5,"edge_of_staking_over_delegation":2,"adaptive_issuance_launch_ema_threshold":0,"adaptive_rewards_params":{"issuance_ratio_final_min":{"numerator":"1","denominator":"400"},"issuance_ratio_final_max":{"numerator":"1","denominator":"10"},"issuance_ratio_initial_min":{"numerator":"9","denominator":"200"},"issuance_ratio_initial_max":{"numerator":"11","denominator":"200"},"initial_period":10,"transition_period":50,"max_bonus":"50000000000000","growth_rate":{"numerator":"1","denominator":"100"},"center_dz":{"numerator":"1","denominator":"2"},"radius_dz":{"numerator":"1","denominator":"50"}},"adaptive_issuance_activation_vote_enable":true,"autostaking_enable":true,"adaptive_issuance_force_activation":false,"ns_enable":true,"direct_ticket_spending_enable":false}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
