interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN/500?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":500,"stakingBalance":80372642510,"activeStake":80372642510,"selectedStake":685704336470565,"delegatedBalance":69252372262,"numDelegators":35,"expectedBlocks":0,"expectedEndorsements":6721,"futureBlocks":0,"futureBlockRewards":0,"blocks":0,"blockRewards":0,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":6680,"endorsementRewards":19201897,"missedEndorsements":22,"missedEndorsementRewards":0,"blockFees":0,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","balance":56390809118,"currentBalance":59939526938,"emptied":false},{"address":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","balance":6359594075,"currentBalance":248281544,"emptied":false},{"address":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE","balance":3639873553,"currentBalance":29088459,"emptied":false},{"address":"tz1NCT7LwjVXQCkCu4VjMVdHcSGFj6UhJtrt","balance":1626678157,"currentBalance":1764626549,"emptied":false},{"address":"tz1QKNjpkDm443z9EJ7uo7WVjZhjy3F3drTM","balance":400074058,"currentBalance":4134752021,"emptied":false},{"address":"tz1S91vGGRnvezkDddwws[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4873964,"hash":"BLFBsyKcvSWaHfoj7AdLYMU1XM5ZjNNe3u26jFqBP1Xjyf4eXaN","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:23:15Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4873964,"lastSync":"2024-01-05T21:23:16Z","synced":true,"quoteLevel":4873964,"quoteBtc":2.112388872844163E-05,"quoteEur":0.844757931418738,"quoteUsd":0.9239466247895785,"quoteCny":6.558727510731311,"quoteJpy":133.75531792698828,"quoteKrw":1214.5877922584375,"quoteEth":0.00041195122882407327,"quoteGbp":0.7265306452572892}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873964'
      Tzkt-Level:
      - '4873964'
      Tzkt-Synced-At:
      - '2024-01-05T21:23:16Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head/context/contracts/tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ/counter
  response:
    body:
      string: '"7117400"

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head~10
  response:
    body:
      string: '{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"BMNKsS4qTmvfA55AwmdBKWXXvU9Zeedncz2t9hTSVo5ax1nNeef","header":{"level":4873954,"proto":17,"predecessor":"BKzTJ5JU4cPJJ47NCNeMEJZXyaCTgkqNgvMhRQRbwRi4ek9GVv3","timestamp":"2024-01-05T21:20:45Z","validation_pass":4,"operations_hash":"LLoan7erJyJmY4obUivBSxBvX5QBbTKenQrfCsrCZWE3f4LE3V7gE","fitness":["02","004a5ee2","","ffffffff","00000000"],"context":"CoV1nYdkpmHsrrrMj1d71rWntK2SVgknjigLy3hPxvmcVmPfLzUt","payload_hash":"vh2aS3d8MA5L43ZhrcLrttACedqvXfwJk5iMUDEL9YKcVr5cwdH4","payload_round":0,"proof_of_work_nonce":"6b31a6d26d0a0300","liquidity_baking_toggle_vote":"on","signature":"sigj8CKn4RgQBEJDaHfhX8LcpdjzXKUbAz2KYYKL3VSvhuReLqe7C5WatVtCA6AwVfd5uc9jRfzCBwZWHvxAVYxHdqrJNRuc"},"metadata":{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","next_protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","test_chain_status":{"status":"not_running"},"max_operations_ttl":240,"max_operation_data_length":32768,"max_block_header_length":289,"max_operation_list_length":[{"max_size":4194304,"max_op":2048},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"proposer":"tz1fPKAtsYydh4f1wfWNfeNxWYu72TmM48fu","baker":"tz1fPKAtsYydh4f1wfWNfeNxWYu72TmM48fu","level_info":{"level":4873954,"level_position":4873953,"cycle":690,"cycle_position":16097,"expected_commitment":false},"voting_period_info":{"voting_period":{"index":113,"kind":"cooldown","start_position":4825088},"position":48865,"remaining":33054},"nonce_hash":null,"deactivated":[],"balance_updates":[{"kind":"accumulator","category":"block
        fees","change":"-25236","origin":"block"},{"kind":"minted","category":"baking
        rewards","change":"-5000000","origin":"block"},{"kind":"contract","contract":"tz1fPKAtsYydh4f1wfWNfeNxWYu72TmM48fu","change":"5025236","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-4967474","origin":"block"},{"kind":"contract","contract":"tz1fPKAtsYydh4f1wfWNfeNxWYu72TmM48fu","change":"4967474","origin":"block"}],"liquidity_baking_toggle_ema":416047954,"implicit_operations_results":[{"kind":"transaction","storage":[{"int":"22395739801"},{"int":"10387891322361"},{"int":"281108856"},{"bytes":"01a3d0f58d8964bd1b37fb0a0c197b38cf46608d4900"},{"bytes":"0115eb0104481a6d7921160bc982c5e0a561cd8a3a00"}],"balance_updates":[{"kind":"minted","category":"subsidy","change":"-1250000","origin":"subsidy"},{"kind":"contract","contract":"KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5","change":"1250000","origin":"subsidy"}],"consumed_milligas":"206971","storage_size":"4641"}],"proposer_consensus_key":"tz1fPKAtsYydh4f1wfWNfeNxWYu72TmM48fu","baker_consensus_key":"tz1fPKAtsYydh4f1wfWNfeNxWYu72TmM48fu","consumed_milligas":"90709000"},"operations":[[{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"ooqEsDeojRy3pWpLf6vPPcR9mji5Kox3f2Qfk3UWjcn6TbQinaJ","branch":"BMau5WWmc53yzuGR13VVozjLHQXZdpTqj9Ao7i2rRLHtMCQKjXF","contents":[{"kind":"endorsement","slot":0,"level":4873953,"round":0,"block_payload_hash":"vh27f83CkAbHjJ67n8PLayQEZLGyAMGca4ty8UZnW6bhHQ7CeZdo","metadata":{"delegate":"tz1eEnQhbwf6trb8Q8mPb2RaPkNk2rN7BKi8","endorsement_power":153,"consensus_key":"tz1eEnQhbwf6trb8Q8mPb2RaPkNk2rN7BKi8"}}],"signature":"sigZK9UeS2c5dmUjCbi3MpcyX1c766AdKpJiGHn24uARu8ScpLH64pDbQ4nyKB6Www2QE8njd4hdYEVrVq1obUucMBPE7Db1"},{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"opMY8XThdvqWLHgay5ZvNVQdFi8s6jDLwLVokTKgJzhexhJUTN8","branch":"BMau5WWmc53yzuGR13VVozjLHQXZdpTqj9Ao7i2rRLHtMCQKjXF","contents":[{"kind":"endorsement","slot":1,"level":4873953,"round":0,"block_payload_hash":"vh27f83CkAbHjJ67n8PLayQEZLGyAMGca4ty[...]
- request:
    body: '{"operation": {"branch": "BMNKsS4qTmvfA55AwmdBKWXXvU9Zeedncz2t9hTSVo5ax1nNeef","contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","fee":"298","counter":"7117401","gas_limit":"1400","storage_limit":"0","amount":"1291324"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE","fee":"298","counter":"7117402","gas_limit":"1400","storage_limit":"0","amount":"738953"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1NCT7LwjVXQCkCu4VjMVdHcSGFj6UhJtrt","fee":"298","counter":"7117403","gas_limit":"1400","storage_limit":"0","amount":"330077"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgC[...]
- request:
    body: '{"branch": "BMNKsS4qTmvfA55AwmdBKWXXvU9Zeedncz2t9hTSVo5ax1nNeef","contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","fee":"298","counter":"7117401","gas_limit":"1400","storage_limit":"0","amount":"1291324"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE","fee":"298","counter":"7117402","gas_limit":"1400","storage_limi[...]
- request:
    body: '[{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","branch":"BMNKsS4qTmvfA55AwmdBKWXXvU9Zeedncz2t9hTSVo5ax1nNeef","contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","fee":"298","counter":"7117401","gas_limit":"1400","storage_limit":"0","amount":"1291324"},{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE"[...]
[...]
- request:
    body: '{"operation": {"branch": "BMNKsS4qTmvfA55AwmdBKWXXvU9Zeedncz2t9hTSVo5ax1nNeef","contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","destination":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","fee":"2980","counter":"7117401","gas_limit":"1040000","storage_limit":"60000","amount":"11452867"}],
      "signature":"edsigtXomBKi5CTRf5cjATJWSyaRvhfYNHqSUGrn4SdbYRcGwQrUGjzEfQDTuqHhuA8b2d8NarZjz8TRf65WkpQmo423BtomS8Q"},"chain_id":"NetXdQprcVkpaWU"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://mainnet.smartpy.io/chains/main/blocks/head/helpers/scripts/run_operation
  response:
    body:
      string: '{"contents":[{"kind":"transaction","source":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","fee":"2980","counter":"7117401","gas_limit":"1040000","storage_limit":"60000","amount":"11452867","destination":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","metadata":{"balance_updates":[{"kind":"contract","contract":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","change":"-2980","origin":"block"},{"kind":"accumulator","category":"block
        fees","change":"2980","origin":"block"}],"operation_result":{"status":"applied","storage":{"bytes":"00aa5e83f4ecce0089e27b8886c431ce1e850e7c79"},"balance_updates":[{"kind":"contract","contract":"tz1N4UfQCahHkRShBanv9QP9TnmXNgCaqCyZ","change":"-11452867","origin":"block"},{"kind":"contract","contract":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","change":"11452867","origin":"block"}],"consumed_milligas":"1308480","storage_size":"232"}}}],"signature":"edsigtXomBKi5CTRf5cjATJWSyaRvhfYNHqSUGrn4SdbYRcGwQrUGjzEfQDTuqHhuA8b2d8NarZjz8TRf65WkpQmo423BtomS8Q"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
