interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/account/tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194
  response:
    body:
      string: '{"row_id":39011,"address":"tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194","address_type":"ed25519","pubkey":"edpktqksRnsC4fX1bxWW4DVSdhoirZ1C1RkrEwq4yZabjecmDZLQwS","counter":37627,"first_in":22657,"first_out":22763,"last_in":4873936,"last_out":4860362,"first_seen":22657,"last_seen":4873963,"first_in_time":"2018-07-17T18:39:42Z","first_out_time":"2018-07-17T20:39:27Z","last_in_time":"2024-01-05T21:16:15Z","last_out_time":"2024-01-03T11:59:17Z","first_seen_time":"2018-07-17T18:39:42Z","last_seen_time":"2024-01-05T21:23:00Z","total_received":419057.987538,"total_sent":794933.699727,"total_burned":16.784,"total_fees_paid":0.693959,"total_fees_used":0.074642,"spendable_balance":1908.566333,"is_funded":true,"is_delegated":false,"is_revealed":true,"is_baker":true,"n_tx_success":509,"n_tx_failed":0,"n_tx_out":509,"n_tx_in":46}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 05 Jan 2024 21:23:00 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873963'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99374'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
[...]
