interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/4874002
  response:
    body:
      string: '{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"BLWeb9ew6LcQnQzGv9Mcy3BytdCdUEL8FcbSzb4kUQMedgDYUvp","header":{"level":4874002,"proto":17,"predecessor":"BMRzLxJgiemD2NVH4fftvUYg6r2PTPz7fERzuiYtC59k2b8U2PG","timestamp":"2024-01-05T21:32:45Z","validation_pass":4,"operations_hash":"LLoZUxPgritUrCYvAqzEqBTbU5qmU2Zom6iQdNjvvbML2zAnkxY3J","fitness":["02","004a5f12","","ffffffff","00000000"],"context":"CoW7u7LnJ6kTrbbR9z9F3oKrHqRJFAboEdfRAmvxvVEL1aJgxiSH","payload_hash":"vh2pNsSuztbrH2Ez73PW3DB9y5WVZTYLisBj66krRoDej49gx91P","payload_round":0,"proof_of_work_nonce":"b2bc6d7f728b0000","liquidity_baking_toggle_vote":"on","signature":"sigocaweZSW7yYN6JYGu5BdD9En5VxrzdWzEkpdhcwG7mM5j48hnHQWKdDERtv4XvS431QUddJEJHG4tnrUoxrgvSX5rwU1y"},"metadata":{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","next_protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","test_chain_status":{"status":"not_running"},"max_operations_ttl":240,"max_operation_data_length":32768,"max_block_header_length":289,"max_operation_list_length":[{"max_size":4194304,"max_op":2048},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"proposer":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","baker":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","level_info":{"level":4874002,"level_position":4874001,"cycle":690,"cycle_position":16145,"expected_commitment":false},"voting_period_info":{"voting_period":{"index":113,"kind":"cooldown","start_position":4825088},"position":48913,"remaining":33006},"nonce_hash":null,"deactivated":[],"balance_updates":[{"kind":"accumulator","category":"block
        fees","change":"-7339","origin":"block"},{"kind":"minted","category":"baking
        rewards","change":"-5000000","origin":"block"},{"kind":"contract","contract":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","change":"5007339","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-4834608","origin":"block"},{"kind":"contract","contract":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","change":"4834608","origin":"block"}],"liquidity_baking_toggle_ema":417298970,"implicit_operations_results":[{"kind":"transaction","storage":[{"int":"22397003060"},{"int":"10387365998597"},{"int":"281108856"},{"bytes":"01a3d0f58d8964bd1b37fb0a0c197b38cf46608d4900"},{"bytes":"0115eb0104481a6d7921160bc982c5e0a561cd8a3a00"}],"balance_updates":[{"kind":"minted","category":"subsidy","change":"-1250000","origin":"subsidy"},{"kind":"contract","contract":"KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5","change":"1250000","origin":"subsidy"}],"consumed_milligas":"206971","storage_size":"4641"}],"proposer_consensus_key":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","baker_consensus_key":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","consumed_milligas":"39087000"},"operations":[[{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"op9JrR5Wij4XcYfEcUaE4erTtCTz4GYpv8nTpR633SyiwicyyyD","branch":"BL4CPMnQf9GEaHXHWXrCKoWjEwZvSHGDirEFvWxD2wbar6Gu2g5","contents":[{"kind":"endorsement","slot":0,"level":4874001,"round":0,"block_payload_hash":"vh1kLsEqNstdjuyhfsMZNanCYQwAXzRSEH7EJm7FYgCmpwJMNL3T","metadata":{"delegate":"tz3e7LbZvUtoXhpUD1yb6wuFodZpfYRb9nWJ","endorsement_power":8,"consensus_key":"tz3e7LbZvUtoXhpUD1yb6wuFodZpfYRb9nWJ"}}],"signature":"sigNwQNxkQvXs7aTHNMXycrhHKpb7biAsC7aVcSUv2eqBEZ8zMCpFshPvmVvBoQ1eCXGi5kjAPtMx9upgyZQfhg74hXMLfR4"},{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"onpGXwMXYUKpq2i21JDiaoV3er1rfc6a6zfrLydrd5Y1eaFiJDg","branch":"BL4CPMnQf9GEaHXHWXrCKoWjEwZvSHGDirEFvWxD2wbar6Gu2g5","contents":[{"kind":"endorsement","slot":1,"level":4874001,"round":0,"block_payload_hash":"vh1kLsEqNstdjuyhfsMZNanCYQwAXzRSEH7E[...]
