interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head
  response:
    body:
      string: '{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"BLiisCf6b5FxcX42aFyeZgCkWAVNK7ZCWUNpsazNQ1EjHYhXiV3","header":{"level":4873961,"proto":17,"predecessor":"BLZWVwHiWVGHzidFmTfikRp6yUyPGnq6mYtjrFKetSEyPHTKtdZ","timestamp":"2024-01-05T21:22:30Z","validation_pass":4,"operations_hash":"LLoZR7JA9MvfEjsPyuxy8vCsrxEaxK1Fg9RodWZLXS7K5P2AMFM9F","fitness":["02","004a5ee9","","ffffffff","00000000"],"context":"CoWJEoWqsMd69GfG7eGuPPJSb1nqsfWU5i6gaWeoqBHogyViG1ie","payload_hash":"vh2b5CgQiiGWkRZv8QGqjSuUtRvHhMkd1sF2PdF5wgdrqGxidW4C","payload_round":0,"proof_of_work_nonce":"6b31a6d2229d0300","liquidity_baking_toggle_vote":"pass","signature":"sigvX5huFR3TMqyb9tapxTj7HFzzxmwBhZnhHZBoWrm96vF117psD13qcSi4k24qVBfJkPNou6aHwR5ijsT3YpVetiBFnpCQ"},"metadata":{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","next_protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","test_chain_status":{"status":"not_running"},"max_operations_ttl":240,"max_operation_data_length":32768,"max_block_header_length":289,"max_operation_list_length":[{"max_size":4194304,"max_op":2048},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"proposer":"tz1T7duV5gZWSTq4YpBGbXNLTfznCLDrFxvs","baker":"tz1T7duV5gZWSTq4YpBGbXNLTfznCLDrFxvs","level_info":{"level":4873961,"level_position":4873960,"cycle":690,"cycle_position":16104,"expected_commitment":false},"voting_period_info":{"voting_period":{"index":113,"kind":"cooldown","start_position":4825088},"position":48872,"remaining":33047},"nonce_hash":null,"deactivated":[],"balance_updates":[{"kind":"accumulator","category":"block
        fees","change":"-7471","origin":"block"},{"kind":"minted","category":"baking
        rewards","change":"-5000000","origin":"block"},{"kind":"contract","contract":"tz1T7duV5gZWSTq4YpBGbXNLTfznCLDrFxvs","change":"5007471","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-4971760","origin":"block"},{"kind":"contract","contract":"tz1T7duV5gZWSTq4YpBGbXNLTfznCLDrFxvs","change":"4971760","origin":"block"}],"liquidity_baking_toggle_ema":416047954,"implicit_operations_results":[{"kind":"transaction","storage":[{"int":"22395911084"},{"int":"10387820705625"},{"int":"281108856"},{"bytes":"01a3d0f58d8964bd1b37fb0a0c197b38cf46608d4900"},{"bytes":"0115eb0104481a6d7921160bc982c5e0a561cd8a3a00"}],"balance_updates":[{"kind":"minted","category":"subsidy","change":"-1250000","origin":"subsidy"},{"kind":"contract","contract":"KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5","change":"1250000","origin":"subsidy"}],"consumed_milligas":"206971","storage_size":"4641"}],"proposer_consensus_key":"tz1T7duV5gZWSTq4YpBGbXNLTfznCLDrFxvs","baker_consensus_key":"tz1T7duV5gZWSTq4YpBGbXNLTfznCLDrFxvs","consumed_milligas":"30393000"},"operations":[[{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"opGtaMzQigqaDQiuMAHtUVMkysfzXeRL8RyTGhQGB4Sfk9MdXV7","branch":"BKqCFr2QVK431nSdZ3cppLoAWpNFuFovwskizCZgY4BQgBRZC5L","contents":[{"kind":"endorsement","slot":0,"level":4873960,"round":0,"block_payload_hash":"vh3A4ydwPsoEC5aLgZzRrtXyRGYTUXUXAPRozVgpP8XcqsFoPhwh","metadata":{"delegate":"tz1MJx9vhaNRSimcuXPK2rW4fLccQnDAnVKJ","endorsement_power":104,"consensus_key":"tz1MJx9vhaNRSimcuXPK2rW4fLccQnDAnVKJ"}}],"signature":"sigWqdPV4KwHyJpWqbDYJ4cP3beMLYjJmy3fMCku3tM78YKTPPAtYvpxSPQ88JP4N3q5yeWyQv4i1GdSWzRxZLys5rWN1iQU"},{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"opasd71BzAVdHhRUzeLpRiUutZrp9U6vniKa5Qgj2pP9vUSHcVA","branch":"BKqCFr2QVK431nSdZ3cppLoAWpNFuFovwskizCZgY4BQgBRZC5L","contents":[{"kind":"endorsement","slot":1,"level":4873960,"round":0,"block_payload_hash":"vh3A4ydwPsoEC5aLgZzRrtXyRGYTUXUXAPRo[...]
