interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head
  response:
    body:
      string: '{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"BMcphLT6AHMwL6c3gFpwZvAes4uPrNuBYWUjBBBHGmFXQ1xc7Tf","header":{"level":4873991,"proto":17,"predecessor":"BKmgDmSjZUGvJgiLwFPTzGBFHFVU6zFTcFeVu6HqHSGLPNS7NDe","timestamp":"2024-01-05T21:30:00Z","validation_pass":4,"operations_hash":"LLoaLJmZZ9VkXjonuS5GkVkPg4LYmkmFBYSqMSRWoyqbz7wwhpUeT","fitness":["02","004a5f07","","ffffffff","00000000"],"context":"CoVKsckwZRYcXUvEw8CuXuc2xk6V6HFaHpbMGCHqWw3RHFFYUNso","payload_hash":"vh2Z3UR3mXj62j4z5ZReVbkiw6nY1hf3MbtmYNBJfvdbJb3EBn1b","payload_round":0,"proof_of_work_nonce":"6b31a6d2856d0000","liquidity_baking_toggle_vote":"pass","signature":"sigSnuk21ZemNGtt6VMKeHaMo3XVm1P2ouTLwRBgVzG39RP4BUhXirZy1PUBBb6AtyzpwXS34uRdwzCmUhfVzj8QhD4JHKgY"},"metadata":{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","next_protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","test_chain_status":{"status":"not_running"},"max_operations_ttl":240,"max_operation_data_length":32768,"max_block_header_length":289,"max_operation_list_length":[{"max_size":4194304,"max_op":2048},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"proposer":"tz1S8MNvuFEUsWgjHvi3AxibRBf388NhT1q2","baker":"tz1S8MNvuFEUsWgjHvi3AxibRBf388NhT1q2","level_info":{"level":4873991,"level_position":4873990,"cycle":690,"cycle_position":16134,"expected_commitment":false},"voting_period_info":{"voting_period":{"index":113,"kind":"cooldown","start_position":4825088},"position":48902,"remaining":33017},"nonce_hash":null,"deactivated":[],"balance_updates":[{"kind":"accumulator","category":"block
        fees","change":"-2826","origin":"block"},{"kind":"minted","category":"baking
        rewards","change":"-5000000","origin":"block"},{"kind":"contract","contract":"tz1S8MNvuFEUsWgjHvi3AxibRBf388NhT1q2","change":"5002826","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-4830322","origin":"block"},{"kind":"contract","contract":"tz1S8MNvuFEUsWgjHvi3AxibRBf388NhT1q2","change":"4830322","origin":"block"}],"liquidity_baking_toggle_ema":416340279,"implicit_operations_results":[{"kind":"transaction","storage":[{"int":"22396863387"},{"int":"10387416962250"},{"int":"281108856"},{"bytes":"01a3d0f58d8964bd1b37fb0a0c197b38cf46608d4900"},{"bytes":"0115eb0104481a6d7921160bc982c5e0a561cd8a3a00"}],"balance_updates":[{"kind":"minted","category":"subsidy","change":"-1250000","origin":"subsidy"},{"kind":"contract","contract":"KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5","change":"1250000","origin":"subsidy"}],"consumed_milligas":"206971","storage_size":"4641"}],"proposer_consensus_key":"tz1S8MNvuFEUsWgjHvi3AxibRBf388NhT1q2","baker_consensus_key":"tz1S8MNvuFEUsWgjHvi3AxibRBf388NhT1q2","consumed_milligas":"15210000"},"operations":[[{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"opZETksexKmCuiTZJ4kSZdPkPzSNjZNZbAxbnAw7MfDnxukwejv","branch":"BLEEGxubx52NW1wyE3mrvv8aAe352bS9mPcQQ3P2hmV7VxXrSLL","contents":[{"kind":"endorsement","slot":0,"level":4873990,"round":0,"block_payload_hash":"vh2pQdsRpvHDfSAECqhrhRMPEbbP3Commn94dNM8qicaHrV7vHRr","metadata":{"delegate":"tz1VQnqCCqX4K5sP3FNkVSNKTdCAMJDd3E1n","endorsement_power":459,"consensus_key":"tz1VQnqCCqX4K5sP3FNkVSNKTdCAMJDd3E1n"}}],"signature":"sigWvvAFgwaRhYZsqVmMTx8RMo2MCtogFFUDWC7z17mwdWMPHM9vg4bfTB8Cr7Sgc4LuGP9FDK9M45EK5wZP4bNSccfbtLQU"},{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"oogwu3P3DwsSqrd4ytBVNoexK9DF4MYX7UbkigJL22x1JvMosv5","branch":"BLEEGxubx52NW1wyE3mrvv8aAe352bS9mPcQQ3P2hmV7VxXrSLL","contents":[{"kind":"endorsement","slot":1,"level":4873990,"round":0,"block_payload_hash":"vh2pQdsRpvHDfSAECqhrhRMPEbbP3Commn94[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/4873991/context/raw/json/cycle/660/total_active_stake
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
