interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/accounts/tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194
  response:
    body:
      string: '{"id":13748,"type":"delegate","address":"tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194","active":true,"publicKey":"edpktqksRnsC4fX1bxWW4DVSdhoirZ1C1RkrEwq4yZabjecmDZLQwS","revealed":true,"balance":196908566333,"rollupBonds":0,"smartRollupBonds":0,"frozenDeposit":195000000000,"frozenDepositLimit":183600000000,"counter":37627,"activationLevel":22763,"activationTime":"2018-07-17T20:39:27Z","stakingBalance":1834936724232,"delegatedBalance":1638028157899,"numContracts":1,"rollupsCount":0,"smartRollupsCount":0,"activeTokensCount":3,"tokenBalancesCount":21,"tokenTransfersCount":40,"activeTicketsCount":0,"ticketBalancesCount":0,"ticketTransfersCount":0,"numDelegators":1265,"numBlocks":14315,"numEndorsements":3056946,"numPreendorsements":1097,"numBallots":33,"numProposals":17,"numActivations":0,"numDoubleBaking":0,"numDoubleEndorsing":0,"numDoublePreendorsing":0,"numNonceRevelations":241,"vdfRevelationsCount":0,"numRevelationPenalties":2,"numEndorsingRewards":222,"numDelegations":4828,"numOriginations":59,"numTransactions":564,"numReveals":1,"numRegisterConstants":0,"numSetDepositsLimits":10,"numMigrations":0,"txRollupOriginationCount":0,"txRollupSubmitBatchCount":0,"txRollupCommitCount":0,"txRollupReturnBondCount":0,"txRollupFinalizeCommitmentCount":0,"txRollupRemoveCommitmentCount":0,"txRollupRejectionCount":0,"txRollupDispatchTicketsCount":0,"transferTicketCount":0,"increasePaidStorageCount":0,"updateConsensusKeyCount":0,"drainDelegateCount":0,"smartRollupAddMessagesCount":0,"smartRollupCementCount":0,"smartRollupExecuteCount":0,"smartRollupOriginateCount":0,"smartRollupPublishCount":0,"smartRollupRecoverBondCount":0,"smartRollupRefuteCount":0,"refutationGamesCount":0,"activeRefutationGamesCount":0,"firstActivity":22657,"firstActivityTime":"2018-07-17T18:39:42Z","lastActivity":4873950,"lastActivityTime":"2024-01-05T21:19:45Z","software":{"version":"v18.1","date":"2023-11-20T15:09:26Z"},"frozenDeposits":195000000000,"frozenRewards":0,"frozenFees":0}'
    headers:
      Content-Type:
      - application/json
      Tzkt-Known-Level:
      - '4873950'
      Tzkt-Level:
      - '4873950'
      Tzkt-Synced-At:
      - '2024-01-05T21:19:47Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/account/tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194
  response:
    body:
      string: '{"row_id":39011,"address":"tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194","address_type":"ed25519","pubkey":"edpktqksRnsC4fX1bxWW4DVSdhoirZ1C1RkrEwq4yZabjecmDZLQwS","counter":37627,"first_in":22657,"first_out":22763,"last_in":4873936,"last_out":4860362,"first_seen":22657,"last_seen":4873949,"first_in_time":"2018-07-17T18:39:42Z","first_out_time":"2018-07-17T20:39:27Z","last_in_time":"2024-01-05T21:16:15Z","last_out_time":"2024-01-03T11:59:17Z","first_seen_time":"2018-07-17T18:39:42Z","last_seen_time":"2024-01-05T21:19:30Z","total_received":419057.987538,"total_sent":794933.699727,"total_burned":16.784,"total_fees_paid":0.693959,"total_fees_used":0.074642,"spendable_balance":1908.566333,"is_funded":true,"is_delegated":false,"is_revealed":true,"is_baker":true,"n_tx_success":509,"n_tx_failed":0,"n_tx_out":509,"n_tx_in":46}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 05 Jan 2024 21:19:30 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873949'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99423'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head/context/delegates/tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194
  response:
    body:
      string: '{"full_balance":"196908566333","current_frozen_deposits":"195000000000","frozen_deposits":"195000000000","staking_balance":"1834936724232","frozen_deposits_limit":"183600000000","delegated_contracts":["KT1Xoxdtc7V21v2SP1XzGQsXtedEcJ8vtJsx","KT1XmgW5Pqpy9CMBEoNU9qmpnM8UVVaeyoXU","KT1XkoAMRhzqcxHfWw4M7RjLYWmT7znrFsV3","KT1XTXBsEauzcv3uPvVXW92mVqrx99UGsb9T","KT1XP5uZMsa9Wj599cTYuMAdKEQkS9fzuVEA","KT1XGnEMZYXJWKgwNCctGNzPYT7hXVSSMABe","KT1Wf5tnwXUEgYYP5bQLDTuJz57eN2HoTyYS","KT1Wce2zSVQRZWQSLL1S1ugKYoxqdmGFhKnp","KT1WYTLrjgiYWVGe4e8tDyGhQ3XXtBywwUa7","KT1W9Cpc3642iewHRTE48S6rhVA5apXh14pL","KT1W4PaQvVrNazVKZThXBvwNU3G6hYcZHHbY","KT1W41RamGajHZg7aq9Vqz6fs4jpTKMnUKhX","KT1VxWdfGpL6z51PWuoSjS4Xbv5e2T[...]
[...]
