interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN/689?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":689,"stakingBalance":77685382070,"activeStake":77685382070,"selectedStake":681969517300214,"delegatedBalance":65155576263,"numDelegators":36,"expectedBlocks":1,"expectedEndorsements":13064,"futureBlocks":0,"futureBlockRewards":0,"blocks":2,"blockRewards":19922090,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":13160,"endorsementRewards":18655392,"missedEndorsements":66,"missedEndorsementRewards":0,"blockFees":13358,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","balance":59783225862,"currentBalance":59939526938,"emptied":false},{"address":"tz1QKNjpkDm443z9EJ7uo7WVjZhjy3F3drTM","balance":4123970628,"currentBalance":4134752021,"emptied":false},{"address":"tz1PayTZoKjNyofxFQxkzhcv9RCdyW7Q64Wc","balance":429689591,"currentBalance":253895334,"emptied":false},{"address":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","balance":247577838,"currentBalance":248281544,"emptied":false},{"address":"tz1Rcp8FFWHTcdNWntJ6tekCwpG2ax135ZLx","balance":226078552,"currentBalance":226733226,"emptied":false},{"address":"tz1S91vGGRnvezkDddwwsnH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4873950,"hash":"BLH61QMwwvjmMoyuJPEaESysvoieznVKwuhcASeHWPTN2b3z2xv","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:19:45Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4873950,"lastSync":"2024-01-05T21:19:47Z","synced":true,"quoteLevel":4873950,"quoteBtc":2.112388872844163E-05,"quoteEur":0.844757931418738,"quoteUsd":0.9239466247895785,"quoteCny":6.558727510731311,"quoteJpy":133.75531792698828,"quoteKrw":1214.5877922584375,"quoteEth":0.00041195122882407327,"quoteGbp":0.7265306452572892}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873950'
      Tzkt-Level:
      - '4873950'
      Tzkt-Synced-At:
      - '2024-01-05T21:19:47Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN&cycle=689
  response:
    body:
      string: '[[350877,689,38050,12,12529.805807,65155.576263,77685.382070,36,2,13225,1.340157,103.59,99.51,99.84,2,2,0,9026,0,13160,0,38.655323,38.590840,7783.846798,19.922090,18.655392,0.000000,0.000000,0.013358,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873949'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99421'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/bakers/tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN/snapshot/689
  response:
    body:
      string: '{"baking_cycle":689,"snapshot_height":4748288,"snapshot_cycle":683,"snapshot_time":"2023-12-14T19:13:19Z","snapshot_index":4,"snapshot_rolls":12,"active_stake":77685382070,"staking_balance":77685382070,"own_balance":12529805807,"delegated_balance":65155576263,"n_delegations":36,"expected_income":38655323,"total_income":38590840,"total_deposits":7783846798,"baking_income":19922090,"endorsing_income":18655392,"accusation_income":0,"seed_income":0,"fees_income":13358,"total_loss":0,"accusation_loss":0,"seed_loss":0,"endorsing_loss":0,"lost_accusation_fees":0,"lost_accusation_rewards":0,"lost_accusation_deposits":0,"lost_seed_fees":0,"lost_seed_rewards":0,"delegators":[{"address":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","balance":59783225862,"is_funded":true},{"address":"tz1QKNjpkDm443z9EJ7uo7WVjZhjy3F3drTM","balance":4123970628,"is_funded":true},{"address":"tz1PayTZoKjNyofxFQxkzhcv9RCdyW7Q64Wc","balance":429689591,"is_funded":true},{"address":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","balance":247577838,"is_funded":true},{"address":"tz1Rcp8FFWHTcdNWntJ6tekCwpG2ax135ZLx","balance":226078552,"is_funded":true},{"address":"tz1S91vGGRnvezkDddwwsnHuKezstTgoHWwc","balance":123609587,"is_funded":true},{"address":"KT1XNDUDGp72ZQ5Y1qwVJD3HgYe5bR8aM1mA","ba[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?baker=tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN&columns=row_id,spendable_balance,address&limit=50000
  response:
    body:
      string: '[[37870,248.281544,"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN"]

        ,[38050,5023.009232,"tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN"]

        ,[39398,59939.526938,"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu"]

        ,[43669,226.733226,"tz1Rcp8FFWHTcdNWntJ6tekCwpG2ax135ZLx"]

[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?address.in=tz1iiwsj27p2LybuaRsdRbrwQ2goAJNANPJH&columns=row_id,spendable_balance,address
  response:
    body:
      string: '[[2745870,2.901922,"tz1iiwsj27p2LybuaRsdRbrwQ2goAJNANPJH"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873950'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99418'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/cycle/689
  response:
    body:
      string: '{"cycle":689,"start_height":4841473,"end_height":4857856,"start_time":"2023-12-31T03:49:17Z","end_time":"2024-01-03T00:59:15Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4854784,"snapshot_index":12,"snapshot_time":"2024-01-02T11:51:26Z","rolls":114948,"roll_owners":371,"active_delegators":186718,"active_bakers":382,"staking_supply":690759923.305854,"staking_percent":70.01001364303158,"working_bakers":248,"working_endorsers":355,"missed_rounds":137,"missed_endorsements":766981,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":84,"solvetime_mean":15.198547363281236,"round_min":0,"round_max":2,"round_mean":0.008361816406250009,"endorsement_rate":99.33124564034598,"endorsements_min":4939,"endorsements_max":6997,"endorsements_mean":6953.187194824226,"seed_rate":100,"worst_baked_block":4841479,"worst_endorsed_block":4841479,"snapshot_cycle":{"cycle":683,"start_height":4743169,"end_height":4759552,"start_time":"2023-12-13T21:39:30Z","end_time":"2023-12-16T18:21:58Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4748288,"snapshot_index":4,"snapshot_time":"2023-12-14T19:13:19Z","rolls":115599,"roll_owners":372,"active_delegators":186351,"active_bakers":384,"staking_supply":694609502.815836,"staking_percent":70.55335023591682,"working_bakers":260,"working_endorsers":363,"missed_rounds":66,"missed_endorsements":505640,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":53,"solvetime_mean":15.09783935546878,"round_min":0,"round_max":2,"round_mean":0.004028320312500015,"endorsement_rate":99.55911690848214,"endorsements_min":4681,"endorsements_max":6993,"endorsements_mean":6969.138183593736,"seed_rate":100,"worst_baked_block":4743177,"worst_endorsed_block":4743174},"follower_cycle":{"cycle":695,"start_height":4939777,"end_height":4956160,"start_time":"2024-01-17T07:36:30Z","end_time":"2024-01-20T03:52:15Z","progress":0,"is_complete":false,"is_snapshot":false,"is_active":false,"snapshot_height":-1,"snapshot_index":-1,"snapshot_time":"0001-01-01T00:00:00Z","rolls":0,"roll_owners":0,"active_delegators":0,"active_bakers":0,"staking_supply":0,"staking_percent":0,"working_bakers":0,"working_endorsers":0,"missed_rounds":0,"missed_endorsements":0,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":0,"solvetime_max":0,"solvetime_mean":0,"round_min":0,"round_max":0,"round_mean":0,"endorsement_rate":0,"endorsements_min":0,"endorsements_max":0,"endorsements_mean":0,"seed_rate":0,"worst_baked_block":-1,"worst_endorsed_block":-1}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 05 Jan 2024 21:19:45 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873950'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99417'
      x-rate-limit-reset:
      - '1705438130'
    status:
      code: 200
      message: OK
[...]
