interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4873950,"hash":"BLH61QMwwvjmMoyuJPEaESysvoieznVKwuhcASeHWPTN2b3z2xv","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:19:45Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4873950,"lastSync":"2024-01-05T21:19:47Z","synced":true,"quoteLevel":4873950,"quoteBtc":2.112388872844163E-05,"quoteEur":0.844757931418738,"quoteUsd":0.9239466247895785,"quoteCny":6.558727510731311,"quoteJpy":133.75531792698828,"quoteKrw":1214.5877922584375,"quoteEth":0.00041195122882407327,"quoteGbp":0.7265306452572892}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873950'
      Tzkt-Level:
      - '4873950'
      Tzkt-Synced-At:
      - '2024-01-05T21:19:47Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/tip
  response:
    body:
      string: '{"name":"Tezos","network":"Mainnet","symbol":"XTZ","chain_id":"NetXdQprcVkpaWU","genesis_time":"2018-06-30T16:07:32Z","block_hash":"BLvzeKnQFfLGe2d2gxXdfhhTmZ9pw147a6txSBYxqmir3Lfb2na","timestamp":"2024-01-05T21:19:30Z","height":4873949,"cycle":690,"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","total_accounts":4870447,"total_contracts":189641,"total_rollups":11,"funded_accounts":2496584,"dust_accounts":840511,"dust_delegators":16103,"ghost_accounts":2053959,"total_ops":856154455,"delegators":186935,"bakers":384,"new_accounts_30d":68791,"cleared_accounts_30d":12780,"funded_accounts_30d":31239,"inflation_1y":43246359.91024,"inflation_rate_1y":4.582226468435847,"health":96,"supply":{"row_id":4873950,"height":4873949,"cycle":690,"time":"2024-01-05T21:19:30Z","total":987031225.371118,"activated":743363291.116411,"unclaimed":20955306.896289,"circulating":966075918.474829,"liquid":897229719.844076,"delegated":582181756.164662,"staking":702445043.113908,"shielded":355.002637,"active_stake":686110624.797755,"active_delegated":574847194.827808,"active_staking":691445821.60725,"inactive_delegated":7334561.336854,"inactive_staking":10999221.506658,"minted":225059269.405049,"minted_baking":90148762.793086,"minted_endorsing":128447888.170669,"minted_seeding":10967.25,"minted_airdrop":28700.007321,"minted_subsidy":6205078.75,"burned":2346642.046631,"burned_double_baking":228687.464089,"burned_double_endorse":31838.219485,"burned_origination":19413.167,"burned_allocation":294997.3215,"burned_storage":1224508.02175,"burned_explicit":136314.813626,"burned_seed_miss":226883.883339,"burned_absence":183999.155842,"burned_rollup":0,"frozen":68846198.630753,"frozen_deposits":68846198.630753,"frozen_rewards":0,"frozen_fees":0,"frozen_bonds":0},"status":{"mode":"sync","status":"synced","blocks":4873950,"finalized":4873949,"indexed":4873949,"progress":1,"last_update":"2024-01-05T21:19:30Z"}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 05 Jan 2024 21:19:30 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873949'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99424'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://mainnet.smartpy.io/chains/main/blocks/head
  response:
    body:
      string: '{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"BLH61QMwwvjmMoyuJPEaESysvoieznVKwuhcASeHWPTN2b3z2xv","header":{"level":4873950,"proto":17,"predecessor":"BLvzeKnQFfLGe2d2gxXdfhhTmZ9pw147a6txSBYxqmir3Lfb2na","timestamp":"2024-01-05T21:19:45Z","validation_pass":4,"operations_hash":"LLoZMTofdrADys4ee6A3gSAnoJVmaTdUzqqxUmEoBwrc6p5Tv4BPt","fitness":["02","004a5ede","","ffffffff","00000000"],"context":"CoUgh9V5DPWvFueQ4fpoMvjy5LA7JpKWTuKfx4mhRMWZrgSqzYHb","payload_hash":"vh2vjsc8fAb2VSF3RwDVBd3CUoRqibcu8ukZbdNYsGg4URXNKm7M","payload_round":0,"proof_of_work_nonce":"b2bc6d7f44070000","liquidity_baking_toggle_vote":"on","signature":"sigoSBo562rLS3fM71MkPx5VTwB5fCWEhCQ8VbEsGfrgiTJpEw97V64bWcLcVZnhkXf3stTL2AukJFwh1B5bpCdYc1WG2Hpu"},"metadata":{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","next_protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","test_chain_status":{"status":"not_running"},"max_operations_ttl":240,"max_operation_data_length":32768,"max_block_header_length":289,"max_operation_list_length":[{"max_size":4194304,"max_op":2048},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"proposer":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","baker":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","level_info":{"level":4873950,"level_position":4873949,"cycle":690,"cycle_position":16093,"expected_commitment":false},"voting_period_info":{"voting_period":{"index":113,"kind":"cooldown","start_position":4825088},"position":48861,"remaining":33058},"nonce_hash":null,"deactivated":[],"balance_updates":[{"kind":"accumulator","category":"block
        fees","change":"-2354","origin":"block"},{"kind":"minted","category":"baking
        rewards","change":"-5000000","origin":"block"},{"kind":"contract","contract":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","change":"5002354","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-4969617","origin":"block"},{"kind":"contract","contract":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","change":"4969617","origin":"block"}],"liquidity_baking_toggle_ema":416881090,"implicit_operations_results":[{"kind":"transaction","storage":[{"int":"22395636372"},{"int":"10387934248414"},{"int":"281108856"},{"bytes":"01a3d0f58d8964bd1b37fb0a0c197b38cf46608d4900"},{"bytes":"0115eb0104481a6d7921160bc982c5e0a561cd8a3a00"}],"balance_updates":[{"kind":"minted","category":"subsidy","change":"-1250000","origin":"subsidy"},{"kind":"contract","contract":"KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5","change":"1250000","origin":"subsidy"}],"consumed_milligas":"206971","storage_size":"4641"}],"proposer_consensus_key":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","baker_consensus_key":"tz1ei4WtWEMEJekSv8qDnu9PExG6Q8HgRGr3","consumed_milligas":"9449000"},"operations":[[{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"oojCjRSY3CRKcwAb6KKLJEVPqEuzYYmSVN6qKJDsCVU8EoYTBqj","branch":"BLkofGmdZTViS6Ji4Dz3fnhk1hwUej9oTbBbyYckASjihrxWptR","contents":[{"kind":"endorsement","slot":0,"level":4873949,"round":0,"block_payload_hash":"vh292k6c26jew9vPE9yfLwodsgt23YumK267fSfYuFfSCdDVbeXy","metadata":{"delegate":"tz1aRoaRhSpRYvFdyvgWLL6TGyRoGF51wDjM","endorsement_power":479,"consensus_key":"tz1aRoaRhSpRYvFdyvgWLL6TGyRoGF51wDjM"}}],"signature":"sigj6oUAkS1XwypN8HvAnUoESoJ4HeG1qhnfQDGQMBDavyZcSxT1YBoFd5r26sH3y6kHQUNSsDC3Qjs6RdYzzq8UBAxDLREK"},{"protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","chain_id":"NetXdQprcVkpaWU","hash":"ooePrt7NQzwFJqt2jhem2LuXQA9ebfqG5Au8f6YGxLKn26fQbwH","branch":"BLkofGmdZTViS6Ji4Dz3fnhk1hwUej9oTbBbyYckASjihrxWptR","contents":[{"kind":"endorsement","slot":1,"level":4873949,"round":0,"block_payload_hash":"vh292k6c26jew9vPE9yfLwodsgt23YumK267[...]
