interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":751,"level":5940956,"hash":"BLBQC4HAQNMMJ8ghLJWeva7tbGMuM5PEsiucG5mF3nXAZFVrbWo","protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","nextProtocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","timestamp":"2024-06-30T13:35:30Z","votingEpoch":61,"votingPeriod":125,"knownLevel":5940956,"lastSync":"2024-06-30T13:35:30Z","synced":true,"quoteLevel":5940956,"quoteBtc":1.2648260735372071E-05,"quoteEur":0.7247391000330536,"quoteUsd":0.776593822766842,"quoteCny":5.643740288193476,"quoteJpy":124.94229717584328,"quoteKrw":1072.6935155113833,"quoteEth":0.00022946977500049758,"quoteGbp":0.6137871405743555}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '5940956'
      Tzkt-Level:
      - '5940956'
      Tzkt-Synced-At:
      - '2024-06-30T13:35:30Z'
      Tzkt-Version:
      - 1.14.3.0
    status:
      code: 200
      message: OK
version: 1
