interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN/750?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":750,"bakingPower":82698664595,"totalBakingPower":670376512904615,"ownDelegatedBalance":5099724843,"externalDelegatedBalance":69380007542,"delegatorsCount":36,"ownStakedBalance":8275525821,"externalStakedBalance":0,"stakersCount":0,"expectedBlocks":3,"expectedEndorsements":21222,"futureBlocks":0,"futureBlockRewards":0,"blocks":1,"blockRewardsDelegated":5665073,"blockRewardsStakedOwn":150812,"blockRewardsStakedEdge":47913,"blockRewardsStakedShared":431207,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":20711,"endorsementRewardsDelegated":18181627,"endorsementRewardsStakedOwn":484015,"endorsementRewardsStakedEdge":153771,"endorsementRewardsStakedShared":1383931,"missedEndorsements":476,"missedEndorsementRewards":0,"blockFees":13536,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLostStaked":0,"doubleBakingLostUnstaked":0,"doubleBakingLostExternalStaked":0,"doubleBakingLostExternalUnstaked":0,"doubleEndorsingRewards":0,"doubleEndorsingLostStaked":0,"doubleEndorsingLostUnstaked":0,"doubleEndorsingLostExternalStaked":0,"doubleEndorsingLostExternalUnstaked":0,"doublePreendorsingRewards":0,"doublePreendorsingLostStaked":0,"doublePreendorsingLostUnstaked":0,"doublePreendorsingLostExternalStaked":0,"doublePreendorsingLostExternalUnstaked":0,"vdfRevelationRewardsDelegated":0,"vdfRevelationRewardsStakedOwn":0,"vdfRevelationRewardsStakedEdge":0,"vdfRevelationRewardsStakedShared":0,"nonceRevelationRewardsDelegated":0,"nonceRevelationRewardsStakedOwn":0,"nonceRevelationRewardsStakedEdge":0,"nonceRevelationRewardsStakedShared":0,"nonceRevelationLosses":0,"delegators":[{"address":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","delegatedBalance":60534018112,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":60534018112,"currentBalance":514},{"address":"tz1QKNjpkDm443z9EJ7uo7WVjZhjy3F3drTM","delegatedBalance":7759443482,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":7759443482,"currentBalance":514},{"address":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","delegatedBalance":254756327,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":254756327,"currentBalance":514},{"address":"tz1PayTZoKjNyofxFQxkzhcv9RCdyW7Q64Wc","delegatedBalance":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":751,"level":5940956,"hash":"BLBQC4HAQNMMJ8ghLJWeva7tbGMuM5PEsiucG5mF3nXAZFVrbWo","protocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","nextProtocol":"PsParisCZo7KAh1Z1smVd9ZMZ1HHn5gkzbM94V3PLCpknFWhUAi","timestamp":"2024-06-30T13:35:30Z","votingEpoch":61,"votingPeriod":125,"knownLevel":5940956,"lastSync":"2024-06-30T13:35:30Z","synced":true,"quoteLevel":5940956,"quoteBtc":1.2648260735372071E-05,"quoteEur":0.7247391000330536,"quoteUsd":0.776593822766842,"quoteCny":5.643740288193476,"quoteJpy":124.94229717584328,"quoteKrw":1072.6935155113833,"quoteEth":0.00022946977500049758,"quoteGbp":0.6137871405743555}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '5940956'
      Tzkt-Level:
      - '5940956'
      Tzkt-Synced-At:
      - '2024-06-30T13:35:30Z'
      Tzkt-Version:
      - 1.14.3.0
    status:
      code: 200
      message: OK
version: 1
