interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/accounts/tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194
  response:
    body:
      string: '{"id":13748,"type":"delegate","address":"tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194","active":true,"publicKey":"edpktqksRnsC4fX1bxWW4DVSdhoirZ1C1RkrEwq4yZabjecmDZLQwS","revealed":true,"balance":50780085238,"rollupBonds":0,"smartRollupBonds":0,"stakedBalance":50076184480,"unstakedBalance":49719881,"unstakedBaker":{"address":"tz1g8vkmcde6sWKaG2NN9WKzCkDM6Rziq194"},"externalStakedBalance":0,"externalUnstakedBalance":0,"roundingError":0,"totalStakedBalance":50076184480,"stakersCount":0,"frozenDepositLimit":50000000000,"counter":37713,"activationLevel":22763,"activationTime":"2018-07-17T20:39:27Z","stakingBalance":948278585490,"delegatedBalance":897498500252,"numContracts":1,"rollupsCount":0,"smartRollupsCount":0,"activeTokensCount":4,"tokenBalancesCount":22,"tokenTransfersCount":41,"activeTicketsCount":0,"ticketBalancesCount":0,"ticketTransfersCount":0,"numDelegators":1118,"numBlocks":15945,"numEndorsements":4065869,"numPreendorsements":1186,"numBallots":36,"numProposals":18,"numActivations":0,"numDoubleBaking":0,"numDoubleEndorsing":0,"numDoublePreendorsing":0,"numNonceRevelations":261,"vdfRevelationsCount":0,"numRevelationPenalties":2,"numEndorsingRewards":283,"numDelegations":4977,"numOriginations":59,"numTransactions":643,"numReveals":1,"numRegisterConstants":0,"numSetDepositsLimits":18,"numMigrations":0,"txRollupOriginationCount":0,"txRollupSubmitBatchCount":0,"txRollupCommitCount":0,"txRollupReturnBondCount":0,"txRollupFinalizeCommitmentCount":0,"txRollupRemoveCommitmentCount":0,"txRollupRejectionCount":0,"txRollupDispatchTicketsCount":0,"transferTicketCount":0,"increasePaidStorageCount":0,"updateConsensusKeyCount":0,"drainDelegateCount":0,"smartRollupAddMessagesCount":0,"smartRollupCementCount":0,"smartRollupExecuteCount":0,"smartRollupOriginateCount":0,"smartRollupPublishCount":0,"smartRollupRecoverBondCount":0,"smartRollupRefuteCount":0,"refutationGamesCount":0,"activeRefutationGamesCount":0,"stakingOpsCount":0,"autostakingOpsCount":45,"stakingUpdatesCount":87,"setDelegateParametersOpsCount":0,"dalPublishCommitmentOpsCount":0,"firstActivity":22657,"firstActivityTime":"2018-07-17T18:39:42Z","lastActivity":5941477,"lastActivityTime":"2024-06-30T15:06:05Z","software":{"date":"2024-06-18T09:10:50Z"},"lostBalance":0,"frozenDeposit":50076184480,"frozenDeposits":50076184480,"frozenRewards":0,"frozenFees":0}'
    headers:
      Content-Type:
      - application/json
      Tzkt-Known-Level:
      - '5941477'
      Tzkt-Level:
      - '5941477'
      Tzkt-Synced-At:
      - '2024-06-30T15:06:05Z'
      Tzkt-Version:
      - 1.14.3.0
    status:
      code: 200
      message: OK
[...]
