interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1fikAGfa1MTxX2oJ7UCtvDpVKeH4KTp1UY/420?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":420,"stakingBalance":22928701189,"activeStake":16000000000,"selectedStake":674672000000000,"delegatedBalance":357215732,"numDelegators":2,"expectedBlocks":0.19,"expectedEndorsements":49.73,"futureBlocks":0,"futureBlockRewards":0,"blocks":0,"blockRewards":0,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":29,"endorsementRewards":2265625,"missedEndorsements":1,"missedEndorsementRewards":78125,"blockFees":0,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"tz2FwCaeDYJHJBuE5Gayqpo9fkUMDB3Z6AGY","balance":330348664,"currentBalance":330496329,"emptied":false},{"address":"tz2UD7tXJyBrfDBHnFzhnaeL8ZGHxcDZuDa3","balance":26867068,"currentBalance":420439934,"emptied":false}],"ownBlocks":0,"extraBlocks":0,"missedOwnBlocks":0,"missedExtraBlocks":0,"uncoveredOwnBlocks":0,"uncoveredExtraBlocks":0,"uncoveredEndorsements":0,"ownBlockRewards":0,"extraBlockRewards":0,"missedOwnBlockRewards":0,"missedExtraBlockRewards":0,"uncoveredOwnBlockRewards":0,"uncoveredExtraBlockRewards":0,"uncoveredEndorsementRewards":0,"ownBlockFees":0,"extraBlockFees":0,"missedOwnBlockFees":0,"missedExtraBlockFees":0,"uncoveredOwnBlockFees":0,"uncoveredExtraBlockFees":0,"doubleBakingLostDeposits":0,"doubleBakingLostRewards":0,"doubleBakingLostFees":0,"doubleEndorsingLostDeposits":0,"doubleEndorsingLostRewards":0,"doubleEndorsingLostFees":0,"revelationLostRewards":0,"revelationLostFees":0,"futureBlockDeposits":0,"blockDeposits":0,"futureEndorsementDeposits":0,"endorsementDeposits":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873966'
      Tzkt-Level:
      - '4873966'
      Tzkt-Synced-At:
      - '2024-01-05T21:23:46Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4873966,"hash":"BM6y1Z9vH1DFUkoLA3FFjcfC6r1Y3z8qFX3msCpqUDVASdbnrvn","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:23:45Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4873966,"lastSync":"2024-01-05T21:23:46Z","synced":true,"quoteLevel":4873966,"quoteBtc":2.112388872844163E-05,"quoteEur":0.844757931418738,"quoteUsd":0.9239466247895785,"quoteCny":6.558727510731311,"quoteJpy":133.75531792698828,"quoteKrw":1214.5877922584375,"quoteEth":0.00041195122882407327,"quoteGbp":0.7265306452572892}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873966'
      Tzkt-Level:
      - '4873966'
      Tzkt-Synced-At:
      - '2024-01-05T21:23:46Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
version: 1
