interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN&cycle=650
  response:
    body:
      string: '[[330690,650,38050,14,12285.774618,72844.272693,85130.047311,36,4,14156,20.239317,150.47,98.51,99.96,4,4,0,9340,0,13950,0,60.339083,60.314508,8530.312264,39.927757,20.340432,0.000000,0.000000,0.046319,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873960'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99415'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/bakers/tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN/snapshot/650
  response:
    body:
      string: '{"baking_cycle":650,"snapshot_height":4114432,"snapshot_cycle":644,"snapshot_time":"2023-08-25T11:47:30Z","snapshot_index":9,"snapshot_rolls":14,"active_stake":85130047311,"staking_balance":85130047311,"own_balance":12285774618,"delegated_balance":72844272693,"n_delegations":36,"expected_income":60339083,"total_income":60314508,"total_deposits":8530312264,"baking_income":39927757,"endorsing_income":20340432,"accusation_income":0,"seed_income":0,"fees_income":46319,"total_loss":0,"accusation_loss":0,"seed_loss":0,"endorsing_loss":0,"lost_accusation_fees":0,"lost_accusation_rewards":0,"lost_accusation_deposits":0,"lost_seed_fees":0,"lost_seed_rewards":0,"delegators":[{"address":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","balance":58822415596,"is_funded":true},{"address":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE","balance":8489598060,"is_funded":true},{"address":"tz1QKNjpkDm443z9EJ7uo7WVjZhjy3F3drTM","balance":4057695140,"is_funded":true},{"address":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","balance":457973160,"is_funded":true},{"address":"tz1PayTZoKjNyofxFQxkzhcv9RCdyW7Q64Wc","balance":330502207,"is_funded":true},{"address":"tz1Rcp8FFWHTcdNWntJ6tekCwpG2ax135ZLx","balance":222057192,"is_funded":true},{"address":"tz1iiwsj27p2LybuaRsdRbrwQ2goAJNANPJH","b[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?baker=tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN&columns=row_id,spendable_balance,address&limit=50000
  response:
    body:
      string: '[[37870,248.281544,"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN"]

        ,[38050,5023.009232,"tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN"]

        ,[39398,59939.526938,"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu"]

        ,[43669,226.733226,"tz1Rcp8FFWHTcdNWntJ6tekCwpG2ax135ZLx"]

[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?address.in=tz1iiwsj27p2LybuaRsdRbrwQ2goAJNANPJH&columns=row_id,spendable_balance,address
  response:
    body:
      string: '[[2745870,2.901922,"tz1iiwsj27p2LybuaRsdRbrwQ2goAJNANPJH"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873961'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99412'
      x-rate-limit-reset:
      - '1705438130'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/cycle/650
  response:
    body:
      string: '{"cycle":650,"start_height":4202497,"end_height":4218880,"start_time":"2023-09-09T21:52:08Z","end_time":"2023-09-12T18:27:35Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4209664,"snapshot_index":6,"snapshot_time":"2023-09-11T03:51:34Z","rolls":116009,"roll_owners":392,"active_delegators":185294,"active_bakers":509,"staking_supply":697132811.980122,"staking_percent":71.62939967683194,"working_bakers":264,"working_endorsers":366,"missed_rounds":50,"missed_endorsements":278094,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":84,"solvetime_mean":15.07214355468745,"round_min":0,"round_max":3,"round_mean":0.003051757812500006,"endorsement_rate":99.75752127511161,"endorsements_min":4820,"endorsements_max":6999,"endorsements_mean":6983.0264892578325,"seed_rate":98.4375,"worst_baked_block":4202504,"worst_endorsed_block":4202505,"snapshot_cycle":{"cycle":644,"start_height":4104193,"end_height":4120576,"start_time":"2023-08-23T16:25:26Z","end_time":"2023-08-26T14:04:09Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4114432,"snapshot_index":9,"snapshot_time":"2023-08-25T11:47:30Z","rolls":115741,"roll_owners":383,"active_delegators":184552,"active_bakers":393,"staking_supply":695513477.151913,"staking_percent":71.61207067016517,"working_bakers":266,"working_endorsers":369,"missed_rounds":211,"missed_endorsements":1598119,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":84,"solvetime_mean":15.303833007812532,"round_min":0,"round_max":2,"round_mean":0.01287841796874996,"endorsement_rate":98.60655081612724,"endorsements_min":5047,"endorsements_max":6958,"endorsements_mean":6902.458557128906,"seed_rate":97.65625,"worst_baked_block":4109625,"worst_endorsed_block":4104200},"follower_cycle":{"cycle":656,"start_height":4300801,"end_height":4317184,"start_time":"2023-09-27T03:30:28Z","end_time":"2023-09-30T00:22:02Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4314112,"snapshot_index":12,"snapshot_time":"2023-09-29T11:27:31Z","rolls":116491,"roll_owners":389,"active_delegators":184748,"active_bakers":502,"staking_supply":700002875.068878,"staking_percent":71.76934669193619,"working_bakers":262,"working_endorsers":370,"missed_rounds":91,"missed_endorsements":474530,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":123,"solvetime_mean":15.13208007812505,"round_min":0,"round_max":4,"round_mean":0.005554199218749985,"endorsement_rate":99.58624267578125,"endorsements_min":5642,"endorsements_max":6997,"endorsements_mean":6971.036987304728,"seed_rate":100,"worst_baked_block":4300805,"worst_endorsed_block":4306693}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Sat, 30 Sep 2023 00:22:02 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873961'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99411'
      x-rate-limit-reset:
      - '1705438130'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1NRGxXV9h6SdNaZLcgmjuLx3hyy2f8YoGN/650?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":650,"stakingBalance":85130047311,"activeStake":85130047311,"selectedStake":685433206934190,"delegatedBalance":72844272693,"numDelegators":36,"expectedBlocks":2,"expectedEndorsements":14244,"futureBlocks":0,"futureBlockRewards":0,"blocks":4,"blockRewards":39927757,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":13950,"endorsementRewards":20340432,"missedEndorsements":206,"missedEndorsementRewards":0,"blockFees":46319,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"KT1UkUKJNwhQPJW99m2ax7MErGKTBTf84jfu","balance":58822415596,"currentBalance":59939526938,"emptied":false},{"address":"tz1WEHHVMWxQUtkWAgrJBFGXjJ5YqZVgfPVE","balance":8489598060,"currentBalance":29088459,"emptied":false},{"address":"tz1QKNjpkDm443z9EJ7uo7WVjZhjy3F3drTM","balance":4057695140,"currentBalance":4134752021,"emptied":false},{"address":"tz1Y1MhPRqRbLjvJRoguQXCe5bUKp43vvqgN","balance":457973160,"currentBalance":248281544,"emptied":false},{"address":"tz1PayTZoKjNyofxFQxkzhcv9RCdyW7Q64Wc","balance":330502207,"currentBalance":253895334,"emptied":false},{"address":"tz1Rcp8FFWHTcdNWntJ6tek[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4873962,"hash":"BKqVZs1jevuSz734MgRjBcjDDmDVgNEL79UGv9AaMFdnRmirFm7","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:22:45Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4873962,"lastSync":"2024-01-05T21:22:46Z","synced":true,"quoteLevel":4873962,"quoteBtc":2.112388872844163E-05,"quoteEur":0.844757931418738,"quoteUsd":0.9239466247895785,"quoteCny":6.558727510731311,"quoteJpy":133.75531792698828,"quoteKrw":1214.5877922584375,"quoteEth":0.00041195122882407327,"quoteGbp":0.7265306452572892}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873962'
      Tzkt-Level:
      - '4873962'
      Tzkt-Synced-At:
      - '2024-01-05T21:22:46Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
version: 1
