interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tz1MbhmEwEAzzfb3naSr7vTp4mDxB8HsknA9&cycle=623
  response:
    body:
      string: '[[316864,623,1790561,3,10126.710328,13467.121270,23593.831598,30,0,4010,1.349818,130.87,99.74,100.00,0,0,0,3541,9,3999,0,5.722354,5.721996,2359.383159,0.000000,5.721996,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"tz1MbhmEwEAzzfb3naSr7vTp4mDxB8HsknA9"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873961'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99409'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/bakers/tz1MbhmEwEAzzfb3naSr7vTp4mDxB8HsknA9/snapshot/623
  response:
    body:
      string: '{"baking_cycle":623,"snapshot_height":3668992,"snapshot_cycle":617,"snapshot_time":"2023-06-07T23:33:47Z","snapshot_index":6,"snapshot_rolls":3,"active_stake":23593831598,"staking_balance":23593831598,"own_balance":10126710328,"delegated_balance":13467121270,"n_delegations":30,"expected_income":5722354,"total_income":5721996,"total_deposits":2359383159,"baking_income":0,"endorsing_income":5721996,"accusation_income":0,"seed_income":0,"fees_income":0,"total_loss":0,"accusation_loss":0,"seed_loss":0,"endorsing_loss":0,"lost_accusation_fees":0,"lost_accusation_rewards":0,"lost_accusation_deposits":0,"lost_seed_fees":0,"lost_seed_rewards":0,"delegators":[{"address":"tz1Pj5v5YC7oVF4Q8bmjeA5exPGcPAn5SUwe","balance":7049999165,"is_funded":true},{"address":"tz1Pqec8GXCyUrpJEZcj4sqeKciVEXUkHMd8","balance":4330209569,"is_funded":true},{"address":"tz1XjiXxtuYCbwKkwZU5ZgRBS6NYaZWnkAk2","balance":572704589,"is_funded":true},{"address":"tz1ZfXBr91jtpVi4WUjowXK8BkbU2CrBBXW4","balance":501117010,"is_funded":true},{"address":"tz1UWVQCHz3FCHXYssKZ1w357vqtDdwHJBkC","balance":290225288,"is_funded":true},{"address":"tz1W4w7QPxNB2QNwB1xMtCAyirnZ12sdGN1Y","balance":203595827,"is_funded":true},{"address":"tz2F1YdDx25CZgQ7ku9y2NcNpUkui9hFFG6W","ba[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?baker=tz1MbhmEwEAzzfb3naSr7vTp4mDxB8HsknA9&columns=row_id,spendable_balance,address&limit=50000
  response:
    body:
      string: '[[280777,3879.091886,"tz1Pqec8GXCyUrpJEZcj4sqeKciVEXUkHMd8"]

        ,[737773,0.258445,"tz1bZDRYRjMRHaHFKNvgG8BepZwiH2xEVUoC"]

        ,[854383,6.709548,"tz2EXWVQ4hisDkifNmGombCgswRdJHZKCZM1"]

        ,[1553971,8.833711,"tz1QYy4MYN9ns1ehFwGv9AY3vNzJhnAVqF87"]

   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/cycle/623
  response:
    body:
      string: '{"cycle":623,"start_height":3760129,"end_height":3776512,"start_time":"2023-06-24T00:07:10Z","end_time":"2023-06-26T22:22:34Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":3775488,"snapshot_index":14,"snapshot_time":"2023-06-26T17:58:23Z","rolls":113057,"roll_owners":400,"active_delegators":184148,"active_bakers":419,"staking_supply":679428443.908038,"staking_percent":70.47165178532849,"working_bakers":242,"working_endorsers":334,"missed_rounds":307,"missed_endorsements":2123530,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":61,"solvetime_mean":15.438171386718734,"round_min":0,"round_max":2,"round_mean":0.018737792968749965,"endorsement_rate":98.14842878069196,"endorsements_min":4761,"endorsements_max":6945,"endorsements_mean":6870.390014648436,"seed_rate":93.75,"worst_baked_block":3760135,"worst_endorsed_block":3760129,"snapshot_cycle":{"cycle":617,"start_height":3661825,"end_height":3678208,"start_time":"2023-06-06T17:28:12Z","end_time":"2023-06-09T14:37:23Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":3668992,"snapshot_index":6,"snapshot_time":"2023-06-07T23:33:47Z","rolls":113531,"roll_owners":404,"active_delegators":183581,"active_bakers":423,"staking_supply":682358090.101452,"staking_percent":70.93197670265583,"working_bakers":275,"working_endorsers":391,"missed_rounds":118,"missed_endorsements":716829,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":288,"solvetime_mean":15.195678710937509,"round_min":0,"round_max":4,"round_mean":0.007202148437500033,"endorsement_rate":99.3749747140067,"endorsements_min":4755,"endorsements_max":7000,"endorsements_mean":6956.248229980459,"seed_rate":99.21875,"worst_baked_block":3661831,"worst_endorsed_block":3664683},"follower_cycle":{"cycle":629,"start_height":3858433,"end_height":3874816,"start_time":"2023-07-11T08:56:23Z","end_time":"2023-07-14T06:30:21Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":3865600,"snapshot_index":6,"snapshot_time":"2023-07-12T15:29:17Z","rolls":112743,"roll_owners":374,"active_delegators":183017,"active_bakers":667,"staking_supply":677565300.44976,"staking_percent":70.1365325370954,"working_bakers":246,"working_endorsers":366,"missed_rounds":198,"missed_endorsements":1208630,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":53,"solvetime_mean":15.286437988281207,"round_min":0,"round_max":2,"round_mean":0.012084960937500031,"endorsement_rate":98.94615827287946,"endorsements_min":5227,"endorsements_max":6979,"endorsements_mean":6926.231079101558,"seed_rate":100,"worst_baked_block":3869969,"worst_endorsed_block":3858440}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 14 Jul 2023 06:30:21 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873961'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99406'
      x-rate-limit-reset:
      - '1705438130'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1MbhmEwEAzzfb3naSr7vTp4mDxB8HsknA9/623?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":623,"stakingBalance":23593831598,"activeStake":23593831598,"selectedStake":675258266577710,"delegatedBalance":13467121270,"numDelegators":30,"expectedBlocks":0,"expectedEndorsements":4007,"futureBlocks":0,"futureBlockRewards":0,"blocks":0,"blockRewards":0,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":3999,"endorsementRewards":5721996,"missedEndorsements":11,"missedEndorsementRewards":0,"blockFees":0,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"tz1Pj5v5YC7oVF4Q8bmjeA5exPGcPAn5SUwe","balance":7049999165,"currentBalance":1020208251,"emptied":false},{"address":"tz1Pqec8GXCyUrpJEZcj4sqeKciVEXUkHMd8","balance":4330209569,"currentBalance":3879091886,"emptied":false},{"address":"tz1XjiXxtuYCbwKkwZU5ZgRBS6NYaZWnkAk2","balance":572704589,"currentBalance":589371863,"emptied":false},{"address":"tz1ZfXBr91jtpVi4WUjowXK8BkbU2CrBBXW4","balance":501117010,"currentBalance":16718691,"emptied":false},{"address":"tz1UWVQCHz3FCHXYssKZ1w357vqtDdwHJBkC","balance":290225288,"currentBalance":298661372,"emptied":false},{"address":"tz1W4w7QPxNB2QNwB1xMtCAy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4873962,"hash":"BKqVZs1jevuSz734MgRjBcjDDmDVgNEL79UGv9AaMFdnRmirFm7","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:22:45Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4873962,"lastSync":"2024-01-05T21:22:46Z","synced":true,"quoteLevel":4873962,"quoteBtc":2.112388872844163E-05,"quoteEur":0.844757931418738,"quoteUsd":0.9239466247895785,"quoteCny":6.558727510731311,"quoteJpy":133.75531792698828,"quoteKrw":1214.5877922584375,"quoteEth":0.00041195122882407327,"quoteGbp":0.7265306452572892}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873962'
      Tzkt-Level:
      - '4873962'
      Tzkt-Synced-At:
      - '2024-01-05T21:22:46Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
version: 1
