interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8&cycle=600
  response:
    body:
      string: '[[304535,600,44094,487,353774.980808,2572310.369891,2926085.350699,444,56,486570,-130.170869,90.60,99.92,100.48,56,56,0,16373,11,486210,0,1254.396322,1260.506584,303197.626904,556.292704,694.416408,0.000000,0.000000,9.797472,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873962'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99391'
      x-rate-limit-reset:
      - '1705438130'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/bakers/tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8/snapshot/600
  response:
    body:
      string: '{"baking_cycle":600,"snapshot_height":3289088,"snapshot_cycle":594,"snapshot_time":"2023-04-02T08:11:19Z","snapshot_index":3,"snapshot_rolls":487,"active_stake":2926085350699,"staking_balance":2926085350699,"own_balance":353774980808,"delegated_balance":2572310369891,"n_delegations":444,"expected_income":1254396322,"total_income":1260506584,"total_deposits":303197626904,"baking_income":556292704,"endorsing_income":694416408,"accusation_income":0,"seed_income":0,"fees_income":9797472,"total_loss":0,"accusation_loss":0,"seed_loss":0,"endorsing_loss":0,"lost_accusation_fees":0,"lost_accusation_rewards":0,"lost_accusation_deposits":0,"lost_seed_fees":0,"lost_seed_rewards":0,"delegators":[{"address":"KT1VE3tEoqMLLoDXVo4c8ikxhD1i37okeJxX","balance":1076126591806,"is_funded":true},{"address":"KT1MfgCNUdkNES1pBJ6uJVHyHZw79DjRZzw5","balance":896844911504,"is_funded":true},{"address":"tz1i2Vdnh4J3ufgcbe2TYLYE1UhLM6PSvJGw","balance":112982363494,"is_funded":true},{"address":"KT1Pe4jwGLkHT1KCx8ZHDCafr9vZSh547t4e","balance":62370151695,"is_funded":false},{"address":"KT1Esk7iCt8E5CrAXkPsVQwsZokwPGdbgrs6","balance":45612615142,"is_funded":true},{"address":"KT1D6XTy8oAHkUWdzuQrzySECCDMnANEchQq","balance":44592514901,"is_funded":true},{"address":"tz1PZt2vuK7Yx2QiXPuqQrpDw4NDr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?baker=tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8&columns=row_id,spendable_balance,address&limit=50000
  response:
    body:
      string: '[[692,652.759003,"tz1cwRGw8iogHkXxzud1mtH1LRreorRzuicz"]

        ,[6579,1.036651,"tz1UBx7YpuRiLVugA8qbFd9kitqwYDHAtf21"]

        ,[7538,0.055808,"tz1SdUBQvk5R1JMAKEE9ezJBkFoKGpv1pBHQ"]

        ,[9479,7628.541298,"tz1XPqbWruHijnzGXm6kh7pD9FnNxTAzpgj3"]

        ,[1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?address.in=tz1L4tCj7Bg9HtDTxZZfLH4KdyaN5K26Afkh,tz1PtNfAv2dCXsgCfqSG34VGi8UFTuTBrHFu,tz1QrRzkTAKuPKF8dmGW6c1ScEHBUGvoiJBM,tz1Rx4cKtfFJdS3rS9aRXQZT2NGruiBDPz15,tz1V3fPD3AKPNwZf42PKGzFaWU3vZ83Gjvfq,tz1Xf2wsRXEevRdCBE1ZEu6fYwQToUnc9Wvw,tz1Y99qsUYh9J1fsNqDQyQAGox4t7ydVUKC4,tz1fnVrMZjP5GhfozQ5zHE8xXDtjoUCptQBZ,tz2QhmKtUWRyArfaqfBedvVdidgKpCcckMXV&columns=row_id,spendable_balance,address
  response:
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/cycle/600
  response:
    body:
      string: '{"cycle":600,"start_height":3383297,"end_height":3399680,"start_time":"2023-04-18T21:30:28Z","end_time":"2023-04-21T18:23:48Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":3391488,"snapshot_index":7,"snapshot_time":"2023-04-20T07:57:24Z","rolls":115750,"roll_owners":406,"active_delegators":190451,"active_bakers":425,"staking_supply":695629918.018814,"staking_percent":72.7517434058186,"working_bakers":284,"working_endorsers":392,"missed_rounds":88,"missed_endorsements":536330,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":84,"solvetime_mean":15.13763427734377,"round_min":0,"round_max":1,"round_mean":0.005371093750000003,"endorsement_rate":99.53235735212054,"endorsements_min":4670,"endorsements_max":6997,"endorsements_mean":6967.265014648459,"seed_rate":100,"worst_baked_block":3383298,"worst_endorsed_block":3383845,"snapshot_cycle":{"cycle":594,"start_height":3284993,"end_height":3301376,"start_time":"2023-04-01T14:56:50Z","end_time":"2023-04-04T11:48:45Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":3289088,"snapshot_index":3,"snapshot_time":"2023-04-02T08:11:19Z","rolls":115062,"roll_owners":408,"active_delegators":189557,"active_bakers":422,"staking_supply":691536832.615904,"staking_percent":72.48263685548692,"working_bakers":272,"working_endorsers":378,"missed_rounds":85,"missed_endorsements":754256,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":53,"solvetime_mean":15.133422851562468,"round_min":0,"round_max":1,"round_mean":0.005187988281250014,"endorsement_rate":99.34234095982143,"endorsements_min":5275,"endorsements_max":6994,"endorsements_mean":6953.963867187465,"seed_rate":97.65625,"worst_baked_block":3285051,"worst_endorsed_block":3297380},"follower_cycle":{"cycle":606,"start_height":3481601,"end_height":3497984,"start_time":"2023-05-06T02:43:50Z","end_time":"2023-05-08T23:36:48Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":3493888,"snapshot_index":11,"snapshot_time":"2023-05-08T06:25:46Z","rolls":115378,"roll_owners":411,"active_delegators":189196,"active_bakers":430,"staking_supply":693403157.903949,"staking_percent":72.35966203448906,"working_bakers":264,"working_endorsers":394,"missed_rounds":82,"missed_endorsements":480298,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":84,"solvetime_mean":15.136291503906296,"round_min":0,"round_max":3,"round_mean":0.005004882812499997,"endorsement_rate":99.58121337890626,"endorsements_min":5423,"endorsements_max":6996,"endorsements_mean":6970.684936523427,"seed_rate":100,"worst_baked_block":3481606,"worst_endorsed_block":3486360}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Mon, 08 May 2023 23:36:48 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873962'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99387'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1WnfXMPaNTBmH7DBPwqCWs9cPDJdkGBTZ8/600?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":600,"stakingBalance":2926085350699,"activeStake":2926085350699,"selectedStake":690100624414239,"delegatedBalance":2572310369891,"numDelegators":444,"expectedBlocks":69,"expectedEndorsements":486286,"futureBlocks":0,"futureBlockRewards":0,"blocks":56,"blockRewards":556292704,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":486210,"endorsementRewards":694416408,"missedEndorsements":354,"missedEndorsementRewards":0,"blockFees":9797472,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"KT1VE3tEoqMLLoDXVo4c8ikxhD1i37okeJxX","balance":1076126591806,"currentBalance":1121310618868,"emptied":false},{"address":"KT1MfgCNUdkNES1pBJ6uJVHyHZw79DjRZzw5","balance":896844911504,"currentBalance":270104911504,"emptied":false},{"address":"tz1i2Vdnh4J3ufgcbe2TYLYE1UhLM6PSvJGw","balance":112982363494,"currentBalance":117726227470,"emptied":false},{"address":"KT1Pe4jwGLkHT1KCx8ZHDCafr9vZSh547t4e","balance":62370151695,"currentBalance":0,"emptied":false},{"address":"KT1Esk7iCt8E5CrAXkPsVQwsZokwPGdbgrs6","balance":45612615142,"currentBalance":9188236935,"emptied":false},{"address":"KT1D6XTy8oAHkUWd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4873963,"hash":"BM4zzyg72k5oQKMUm3EEEZyd9TB5evhqurZcZWXeWkMTsGz3jzC","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:23:00Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4873963,"lastSync":"2024-01-05T21:23:01Z","synced":true,"quoteLevel":4873963,"quoteBtc":2.112388872844163E-05,"quoteEur":0.844757931418738,"quoteUsd":0.9239466247895785,"quoteCny":6.558727510731311,"quoteJpy":133.75531792698828,"quoteKrw":1214.5877922584375,"quoteEth":0.00041195122882407327,"quoteGbp":0.7265306452572892}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873963'
      Tzkt-Level:
      - '4873963'
      Tzkt-Synced-At:
      - '2024-01-05T21:23:01Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
version: 1
