interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tz1S8e9GgdZG78XJRB3NqabfWeM37GnhZMWQ&cycle=683
  response:
    body:
      string: '[[347955,683,464875,193,346353.373390,813496.477085,1159849.850475,841,21,194676,-69.979529,87.47,99.98,99.84,21,21,0,16382,2,194650,0,488.187059,487.396252,115995.828477,208.922642,278.194392,0.000000,0.000000,0.279218,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"tz1S8e9GgdZG78XJRB3NqabfWeM37GnhZMWQ"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873961'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99404'
      x-rate-limit-reset:
      - '1705438130'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/bakers/tz1S8e9GgdZG78XJRB3NqabfWeM37GnhZMWQ/snapshot/683
  response:
    body:
      string: '{"baking_cycle":683,"snapshot_height":4656128,"snapshot_cycle":677,"snapshot_time":"2023-11-28T13:03:25Z","snapshot_index":10,"snapshot_rolls":193,"active_stake":1159849850475,"staking_balance":1159849850475,"own_balance":346353373390,"delegated_balance":813496477085,"n_delegations":841,"expected_income":488187059,"total_income":487396252,"total_deposits":115995828477,"baking_income":208922642,"endorsing_income":278194392,"accusation_income":0,"seed_income":0,"fees_income":279218,"total_loss":0,"accusation_loss":0,"seed_loss":0,"endorsing_loss":0,"lost_accusation_fees":0,"lost_accusation_rewards":0,"lost_accusation_deposits":0,"lost_seed_fees":0,"lost_seed_rewards":0,"delegators":[{"address":"tz1Ut5kJSpzptnSce7PamXpBKVMUbnHAVjYs","balance":87722334511,"is_funded":true},{"address":"tz1ZKDyX8hSEU3XzyENmCdv5q7GrNM9hX1jf","balance":55814716125,"is_funded":true},{"address":"KT1Bdktn316kApJ7r1zc3MCwQRhV4xwVgeKr","balance":55374962312,"is_funded":true},{"address":"tz1gapTehiwbX87RZtFNp1DEPryqwTySYPci","balance":42191083330,"is_funded":true},{"address":"KT1CHVjJzNtDGNp6JHfggfrRKY1WoutgfPcF","balance":32826154389,"is_funded":true},{"address":"tz1RW77tVbBdQFNPw4Fp4Hsy958Grc4vtVwF","balance":32387792696,"is_funded":true},{"address":"KT1REnxj1ZeAWRKK5kKL8LTahcJfaxNB[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?baker=tz1S8e9GgdZG78XJRB3NqabfWeM37GnhZMWQ&columns=row_id,spendable_balance,address&limit=50000
  response:
    body:
      string: '[[88,6412.889281,"tz1Kj85CBM7asMSocJQdB7vLvtuU6rab8E4r"]

        ,[232,2488.659052,"tz1LtY2HZRjrNkSqUPqZHX4m7EEBrfeAwZ93"]

        ,[3446,55814.716125,"tz1ZKDyX8hSEU3XzyENmCdv5q7GrNM9hX1jf"]

        ,[4612,0.001082,"tz1V8W58RfChgaJfntspJBcCc1S5X6ZR6htS"]

        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?address.in=KT1Bdktn316kApJ7r1zc3MCwQRhV4xwVgeKr,tz1Ky5k6zbWuHPqJMg6NnJPiH4uea3gvvzLQ,tz1KzzKrAPXg5pWUVdGBS3krxD2tFHy5XEmd,tz1LEpttASkJnxvN3WZKN16q6G8ZuJYUVKTp,tz1NZxtVUXVNfEnTeNZDuN286yKCf8bTSQ8h,tz1PSgqBRVJd8U81b3zK59Ag4QZrrhz6SUDE,tz1QhzwY1Kjotw7ke9oATrHx2Qb19ZCJMXq9,tz1RMpizDcHGkd6jFyxThvVjvruvRZP1dWEA,tz1RSixM1wWCcd8tpJZ9g5U9GaCzBXXjRZ3o,tz1RZziLHnnyAPhsugZYP7tyeWNxophykaPJ,tz1TbGXGhV6eqkjNCRs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/cycle/683
  response:
    body:
      string: '{"cycle":683,"start_height":4743169,"end_height":4759552,"start_time":"2023-12-13T21:39:30Z","end_time":"2023-12-16T18:21:58Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4748288,"snapshot_index":4,"snapshot_time":"2023-12-14T19:13:19Z","rolls":115599,"roll_owners":372,"active_delegators":186351,"active_bakers":384,"staking_supply":694609502.815836,"staking_percent":70.55335023591682,"working_bakers":260,"working_endorsers":363,"missed_rounds":66,"missed_endorsements":505640,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":53,"solvetime_mean":15.09783935546878,"round_min":0,"round_max":2,"round_mean":0.004028320312500015,"endorsement_rate":99.55911690848214,"endorsements_min":4681,"endorsements_max":6993,"endorsements_mean":6969.138183593736,"seed_rate":100,"worst_baked_block":4743177,"worst_endorsed_block":4743174,"snapshot_cycle":{"cycle":677,"start_height":4644865,"end_height":4661248,"start_time":"2023-11-26T12:44:21Z","end_time":"2023-11-29T10:37:59Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4656128,"snapshot_index":10,"snapshot_time":"2023-11-28T13:03:25Z","rolls":115011,"roll_owners":379,"active_delegators":185724,"active_bakers":396,"staking_supply":691127041.690305,"staking_percent":70.34128008369444,"working_bakers":255,"working_endorsers":363,"missed_rounds":245,"missed_endorsements":1476233,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":53,"solvetime_mean":15.358459472656271,"round_min":0,"round_max":1,"round_mean":0.01495361328124995,"endorsement_rate":98.71282697405134,"endorsements_min":4990,"endorsements_max":6990,"endorsements_mean":6909.897888183601,"seed_rate":100,"worst_baked_block":4644903,"worst_endorsed_block":4646657},"follower_cycle":{"cycle":689,"start_height":4841473,"end_height":4857856,"start_time":"2023-12-31T03:49:17Z","end_time":"2024-01-03T00:59:15Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4854784,"snapshot_index":12,"snapshot_time":"2024-01-02T11:51:26Z","rolls":114948,"roll_owners":371,"active_delegators":186718,"active_bakers":382,"staking_supply":690759923.305854,"staking_percent":70.01001364303158,"working_bakers":248,"working_endorsers":355,"missed_rounds":137,"missed_endorsements":766981,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":84,"solvetime_mean":15.198547363281236,"round_min":0,"round_max":2,"round_mean":0.008361816406250009,"endorsement_rate":99.33124564034598,"endorsements_min":4939,"endorsements_max":6997,"endorsements_mean":6953.187194824226,"seed_rate":100,"worst_baked_block":4841479,"worst_endorsed_block":4841479}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Wed, 03 Jan 2024 00:59:15 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4873961'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99400'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1S8e9GgdZG78XJRB3NqabfWeM37GnhZMWQ/683?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":683,"stakingBalance":1159849850475,"activeStake":1159849850475,"selectedStake":682807910233644,"delegatedBalance":813496477085,"numDelegators":841,"expectedBlocks":27,"expectedEndorsements":194814,"futureBlocks":0,"futureBlockRewards":0,"blocks":21,"blockRewards":208922642,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":194650,"endorsementRewards":278194392,"missedEndorsements":24,"missedEndorsementRewards":0,"blockFees":279218,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"tz1Ut5kJSpzptnSce7PamXpBKVMUbnHAVjYs","balance":87722334511,"currentBalance":87722334511,"emptied":false},{"address":"tz1ZKDyX8hSEU3XzyENmCdv5q7GrNM9hX1jf","balance":55814716125,"currentBalance":55814716125,"emptied":false},{"address":"KT1Bdktn316kApJ7r1zc3MCwQRhV4xwVgeKr","balance":55374962312,"currentBalance":55399567122,"emptied":false},{"address":"tz1gapTehiwbX87RZtFNp1DEPryqwTySYPci","balance":42191083330,"currentBalance":42191083330,"emptied":false},{"address":"KT1CHVjJzNtDGNp6JHfggfrRKY1WoutgfPcF","balance":32826154389,"currentBalance":32826154389,"emptied":false},{"address":"tz1RW77tV[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4873962,"hash":"BKqVZs1jevuSz734MgRjBcjDDmDVgNEL79UGv9AaMFdnRmirFm7","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:22:45Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4873962,"lastSync":"2024-01-05T21:22:46Z","synced":true,"quoteLevel":4873962,"quoteBtc":2.112388872844163E-05,"quoteEur":0.844757931418738,"quoteUsd":0.9239466247895785,"quoteCny":6.558727510731311,"quoteJpy":133.75531792698828,"quoteKrw":1214.5877922584375,"quoteEth":0.00041195122882407327,"quoteGbp":0.7265306452572892}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4873962'
      Tzkt-Level:
      - '4873962'
      Tzkt-Synced-At:
      - '2024-01-05T21:22:46Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
version: 1
