interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/income?address=tz1RV1MBbZMR68tacosb7Mwj6LkbPSUS1er1&cycle=644
  response:
    body:
      string: '[[327590,644,44223,161,97490.722376,883927.646037,970000.000000,1374,32,164301,90.604181,119.56,99.99,98.86,32,32,0,16383,0,164300,0,553.797814,547.474179,97000.000000,313.087348,233.809296,0.000000,0.000000,0.577535,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,"tz1RV1MBbZMR68tacosb7Mwj6LkbPSUS1er1"]

        ]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      trailer:
      - X-Streaming-Error, X-Streaming-Cursor, X-Streaming-Count, X-Streaming-Runtime
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4874078'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99323'
      x-rate-limit-reset:
      - '1705438130'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/bakers/tz1RV1MBbZMR68tacosb7Mwj6LkbPSUS1er1/snapshot/644
  response:
    body:
      string: '{"baking_cycle":644,"snapshot_height":4016128,"snapshot_cycle":638,"snapshot_time":"2023-08-08T04:26:06Z","snapshot_index":9,"snapshot_rolls":163,"active_stake":970000000000,"staking_balance":981418368413,"own_balance":97490722376,"delegated_balance":883927646037,"n_delegations":1374,"expected_income":553797814,"total_income":547474179,"total_deposits":97000000000,"baking_income":313087348,"endorsing_income":233809296,"accusation_income":0,"seed_income":0,"fees_income":577535,"total_loss":0,"accusation_loss":0,"seed_loss":0,"endorsing_loss":0,"lost_accusation_fees":0,"lost_accusation_rewards":0,"lost_accusation_deposits":0,"lost_seed_fees":0,"lost_seed_rewards":0,"delegators":[{"address":"tz1TZw3xc9gtFgfxD9re7xnTFrSrbekMwcMb","balance":81380985373,"is_funded":true},{"address":"tz1UU6tqcUSyb2hPWmjWAv6aMJ5Jzj3J4WDv","balance":70580680172,"is_funded":true},{"address":"tz1To92ZdKDRqYiUDG7vWHSVzM16nNp19nic","balance":24614513265,"is_funded":true},{"address":"tz1Sr7G7aSDE5REnvAYB5kR4iLRRVgkEypH9","balance":21074784229,"is_funded":true},{"address":"KT1Ly1EghG451og1aFjgH1112c6Dw2gUW9Hp","balance":18035719866,"is_funded":true},{"address":"tz1RfiB7L3fQ4kPx1wd3sCcpKSnwHzY4oFAD","balance":17762080928,"is_funded":true},{"address":"tz1X2PX1VtoRJvJWSRzJDqEie29X7R1A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?baker=tz1RV1MBbZMR68tacosb7Mwj6LkbPSUS1er1&columns=row_id,spendable_balance,address&limit=50000
  response:
    body:
      string: '[[2180,25.003263,"tz1enVkoAnQrPVM9B2D2GG8hoyu2tDJmzPgB"]

        ,[11022,286.765278,"tz1YrVx6fahgobdWBetig8mGmgNSJgMH3p6j"]

        ,[11595,3519.527337,"tz1eNby3LNdPffLAXe4mArWSukQKLF3hmwyy"]

        ,[18943,1.747714,"tz1VgjWqJRgWgC7DVUy4iJWyW3NX8EJe9fDa"]

      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/tables/account?address.in=KT1RPXWqB14YtsgZzTvJCy7crD2yqb2j2vFw,tz1Kyn2qUkywe1KW1Ma6aFprrAzomP6nv5UW,tz1LBUHtTyNjt1tst7Hrz2JQgeWdYY66vE7R,tz1LJyeaXnc7GuLPAf3ndiWW89AV83ESCm7R,tz1LL43Y4FoWq3wPBxk9J73y7AvAjeREgFcJ,tz1MAjxWNHGjmEtGkXEWaE8X6izxYhvQJMN3,tz1N7RqepMq89CFnV1J451BvQHaUk5wMvpN7,tz1PMm4b7Tr4ygbPJDnBa27jTEgaZRtwXaYE,tz1PPcykNkgHmCuyEkq7ChPjkiXzJ2E7C61u,tz1QNmumFm1uF9Wg9YMp3JSG8w4kM5zEyXGn,tz1QaFZtjQo9evLjzGP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzpro.io/explorer/cycle/644
  response:
    body:
      string: '{"cycle":644,"start_height":4104193,"end_height":4120576,"start_time":"2023-08-23T16:25:26Z","end_time":"2023-08-26T14:04:09Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4114432,"snapshot_index":9,"snapshot_time":"2023-08-25T11:47:30Z","rolls":115741,"roll_owners":383,"active_delegators":184552,"active_bakers":393,"staking_supply":695513477.151913,"staking_percent":71.61207067016517,"working_bakers":266,"working_endorsers":369,"missed_rounds":211,"missed_endorsements":1598119,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":84,"solvetime_mean":15.303833007812532,"round_min":0,"round_max":2,"round_mean":0.01287841796874996,"endorsement_rate":98.60655081612724,"endorsements_min":5047,"endorsements_max":6958,"endorsements_mean":6902.458557128906,"seed_rate":97.65625,"worst_baked_block":4109625,"worst_endorsed_block":4104200,"snapshot_cycle":{"cycle":638,"start_height":4005889,"end_height":4022272,"start_time":"2023-08-06T08:35:46Z","end_time":"2023-08-09T06:36:21Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4016128,"snapshot_index":9,"snapshot_time":"2023-08-08T04:26:06Z","rolls":113199,"roll_owners":380,"active_delegators":184022,"active_bakers":670,"staking_supply":680256455.774433,"staking_percent":70.18931579575768,"working_bakers":258,"working_endorsers":363,"missed_rounds":266,"missed_endorsements":1745686,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":69,"solvetime_mean":15.384826660156182,"round_min":0,"round_max":2,"round_mean":0.016235351562500094,"endorsement_rate":98.47788260323661,"endorsements_min":4721,"endorsements_max":6938,"endorsements_mean":6893.451782226554,"seed_rate":97.65625,"worst_baked_block":4005899,"worst_endorsed_block":4009126},"follower_cycle":{"cycle":650,"start_height":4202497,"end_height":4218880,"start_time":"2023-09-09T21:52:08Z","end_time":"2023-09-12T18:27:35Z","progress":100,"is_complete":true,"is_snapshot":true,"is_active":false,"snapshot_height":4209664,"snapshot_index":6,"snapshot_time":"2023-09-11T03:51:34Z","rolls":116009,"roll_owners":392,"active_delegators":185294,"active_bakers":509,"staking_supply":697132811.980122,"staking_percent":71.62939967683194,"working_bakers":264,"working_endorsers":366,"missed_rounds":50,"missed_endorsements":278094,"n_double_baking":0,"n_double_endorsement":0,"solvetime_min":15,"solvetime_max":84,"solvetime_mean":15.07214355468745,"round_min":0,"round_max":3,"round_mean":0.003051757812500006,"endorsement_rate":99.75752127511161,"endorsements_min":4820,"endorsements_max":6999,"endorsements_mean":6983.0264892578325,"seed_rate":98.4375,"worst_baked_block":4202504,"worst_endorsed_block":4202505}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Tue, 12 Sep 2023 18:27:35 GMT
      x-api-version:
      - v017-2023-05-31
      x-chain-height:
      - '4874079'
      x-network-id:
      - NetXdQprcVkpaWU
      x-protocol-hash:
      - PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf
      x-rate-limit-group:
      - M
      x-rate-limit-limit:
      - '100000'
      x-rate-limit-remaining:
      - '99319'
      x-rate-limit-reset:
      - '1705438131'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/rewards/split/tz1RV1MBbZMR68tacosb7Mwj6LkbPSUS1er1/644?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":644,"stakingBalance":981418368413,"activeStake":970000000000,"selectedStake":679445814385688,"delegatedBalance":883927646037,"numDelegators":1374,"expectedBlocks":23,"expectedEndorsements":163732,"futureBlocks":0,"futureBlockRewards":0,"blocks":32,"blockRewards":313087348,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":164300,"endorsementRewards":233809296,"missedEndorsements":0,"missedEndorsementRewards":0,"blockFees":577535,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLosses":0,"doubleEndorsingRewards":0,"doubleEndorsingLosses":0,"doublePreendorsingRewards":0,"doublePreendorsingLosses":0,"revelationRewards":0,"revelationLosses":0,"delegators":[{"address":"tz1TZw3xc9gtFgfxD9re7xnTFrSrbekMwcMb","balance":81380985373,"currentBalance":83244550635,"emptied":false},{"address":"tz1UU6tqcUSyb2hPWmjWAv6aMJ5Jzj3J4WDv","balance":70580680172,"currentBalance":72196924242,"emptied":false},{"address":"tz1To92ZdKDRqYiUDG7vWHSVzM16nNp19nic","balance":24614513265,"currentBalance":25178156779,"emptied":false},{"address":"tz1Sr7G7aSDE5REnvAYB5kR4iLRRVgkEypH9","balance":21074784229,"currentBalance":24027483767,"emptied":false},{"address":"KT1Ly1EghG451og1aFjgH1112c6Dw2gUW9Hp","balance":18035719866,"currentBalance":30714982,"emptied":false},{"address":"tz1RfiB7L3fQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tzkt.io/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXdQprcVkpaWU","cycle":690,"level":4874080,"hash":"BKs763JS9dzwNf6cRgq9Bc8uHyrXCSUSDMbFeaohUkvabeZbH6h","protocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","nextProtocol":"PtNairobiyssHuh87hEhfVBGCVrK3WnS8Z2FT4ymB5tAa4r1nQf","timestamp":"2024-01-05T21:52:38Z","votingEpoch":55,"votingPeriod":113,"knownLevel":4874080,"lastSync":"2024-01-05T21:52:40Z","synced":true,"quoteLevel":4874080,"quoteBtc":2.1175991089162402E-05,"quoteEur":0.8471983745803823,"quoteUsd":0.9267830922807121,"quoteCny":6.578862458863866,"quoteJpy":134.09224360588263,"quoteKrw":1218.0896808156676,"quoteEth":0.00041374940741169437,"quoteGbp":0.7286896937873562}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tzkt-Known-Level:
      - '4874080'
      Tzkt-Level:
      - '4874080'
      Tzkt-Synced-At:
      - '2024-01-05T21:52:40Z'
      Tzkt-Version:
      - 1.12.4.0
    status:
      code: 200
      message: OK
version: 1
